{% extends 'base.html' %}



{% block content%}

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/choose.css') }}">
    
  
   	


<section class="navigation">
        <nav> 
            <a href="/"> მთავარი </a>
            <a href="/calculator"> დარგები </a>
     
            <div class="animation start-home"></div>
        </nav>
</section>



<section class="main_header_secttion"> <div class="main_header">მექანიკა</div></section>




<section class="main_navigation_first_row">



    <div class="first_1_row">
        <a href="/calculator/mechanic/kinematika">
        <div class="button1">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            კინემატიკა
          </div>
        </a>
    </div>



    <div class="first_2_row">
        <a href="/calculator/mechanic">
        <div class="button1">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            დინამიკა
          </div>
        </a>
    </div>
   
    

    <div class="first_3_row">
        <a href="/calculator/mechanic">
        <div class="button1">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            იმპულსი
          </div>
        </a>
    </div>



</section>




<section class="main_navigation_second_row">



    <div class="second_1_row">
        <a href="/calculator/mechanic">
        <div class="button2">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        მუშაობა
      </div>
        </a>
    </div>



    <div class="second_2_row">
        <a href="/calculator/mechanic">
        <div class="button2">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            სტატიკა
          </div>
        </a>
    </div>
  
    

    <div class="second_3_row">
        <a href="/calculator/mechanic">
        <div class="button2">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            სითხეები და აირები
          </div>
        </a>
    </div>



</section>




<section class="main_navigation_third_row">



    <div class="third_1_row">
        <a href="/calculator/mechanic">
        <div class="button3">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            მრუდწირული მოძრაობა
          </div>
        </a>
    </div>


    <!-- სპეციალურად მრუდწირულისთვსი პოზიცისს შეცვლა -->
    <style>
        .third_1_row{
	    position: relative;
	    margin-top: 15px;
	    margin-bottom: 15px;
	    margin-left: 446.7px;
    }
    </style>





    <div class="third_2_row">
      
    </div>
        


    <div class="third_3_row">
        
    </div>



</section>



{% endblock %}

