{% extends 'base_calc.html' %}



{% block content%}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/calculator.css') }}">



<!--************************************************************* ნავიგაციის სექცია******************************************************* -->

<section class="navigation">
    <nav> 
        <a href="/"> მთავარი </a>
        <a href="/calculator"> დარგები </a>
        <a href="/calculator/mechanic"> მექანიკა </a>
        <a href="/calculator/mechanic/kinematika"> კინემატიკა </a>
        <a href="/calculator/mechanic/kinematika/height_gasrolili"> ამოცანა </a>

 
        <div class="animation start-home"></div>
    </nav>
</section>


<!--************************************************************* სათაურის სექცია******************************************************* -->
<section class="main_header_secttion"> <div class="main_header">ფრენის მანძილი</div></section>




<!--******************************************************* ინფორმაციისს ტრასფერის სექცია************************************************* -->
<section class="input_variables_section">

    <form name="passdata" action="." method="POST">

    <div class="input_variables">

        <div class="variable_1">
            <input type="number" class="input1"  placeholder=" " step="0.001" min=0 value="0" name="angle">
              
                <div class="holder1">
                    <label for="firstname" class="placeholder_of_inputs" >კუთხე</label>
                </div>
        </div>

        <div class="variable_2">
            <input type="number" class="input"  placeholder=" " step="0.001" min=0 value="0" name="initial_height">
              
                <div class="holder">
                    <label for="firstname" class="placeholder_of_inputs" >საწყ.სიმაღლე</label>
                </div>
        </div>


        <div class="variable_3">
            <input type="number" class="input"  placeholder=" " step="0.001" min=0 value="9.8" name="gravity">
            
                <div class="holder">
                     <label for="firstname" class="placeholder_of_inputs" >გრავიტაცია</label>
                </div>
        </div>


        <div class="variable_4">
            <input type="number" class="input"  placeholder=" " step="0.001" min=0 value="0" name="initial_speed">
               
            <div class="holder">
                
                <label for="firstname" class="placeholder_of_inputs" >საწყ.სიჩქარე</label>
            
            </div>
        </div>



        <!-- გამზადებულია გამოსაყენებლად -->
        <div class="variable_4">
            
        </div>
       


        <!-- გამზადებულია გამოსაყენებლად -->
        <div class="variable_5">

        </div>






        <!-- გამშვები ბათონი -->
        <div class="submut_button">
            <button type="submit" class="submit">გამოთვლა</button>
        </div>

    </div>


    </form>
</section>




<!--******************************************************* პასუხების სექცია************************************************* -->
<section class="answers_section">
    <form name="passdata" action="." method="POST">

  
             <div class="answers">პასუხი: <div class="answer_number">{{distance}} {{Dimension}} </div> </div>

    </form>
</section>





<!--******************************************************* ფოტოს ************************************************* -->

<section class="drawing">
    <div>


        <div class="union">  
            <div class="main_header">დეტალურად</div>
        </div>




<!--********************************************** გამოიყენება მაშინ როცა სურათი არის მარცხენა მხარეს  **************************************-->
<!--********************************************** გამოიყენება მაშინ როცა სურათი არის მარცხენა მხარეს  **************************************-->
<!--********************************************** გამოიყენება მაშინ როცა სურათი არის მარცხენა მხარეს  **************************************-->



<!--********************************************** გამოიყენება მაშინ როცა სურათი არის ზევით მხარეს  **************************************-->
<!--********************************************** გამოიყენება მაშინ როცა სურათი არის ზევით მხარეს  **************************************-->
<!--********************************************** გამოიყენება მაშინ როცა სურათი არის ზევით მხარეს  **************************************-->

        <div class="div_photo_txt_down">

            <img class="photo_down" src="/static/images/mechanic/kinematika/fallen/free_fall.jpg" alt="" style="width: 900px; height: 200px;">
            
            

        <div class="main_detail_down">

                  

                    <!-- ტექსტი -->
                <div class="detail_txt">
                კუთხით გასროლილი სხეული მონაწილეობს 2 სახის მოძრაობაში. x ღერზე ის გადაადგილდება თანაბრად, ხოლო
                y ღერძზე თანაბარაჩქარებულად. შესაბამისად x ღერძზე ამ სხეულის მიერ გავლილი მანძილის საპოვნელად უნდა
                გამოვიყენოთ თანაბარი მოძრაობის დროს მანძილის გამოსათვლელი ფორმულა:

                </div>



                    <!-- ფორმულა -->
                <div class="detail_formula">
                    <math display='block'>
                        <mi>S</mi><mo>=</mo><msub>
                         <mi>V</mi>
                         <mrow>
                          <mn>0</mn><mi>x</mi></mrow>
                        </msub>
                        <msub>
                         <mi>T</mi>
                         <mrow>
                          <mi>ს</mi><mi>რ</mi></mrow>
                        </msub>
                        <mo>&#x2192;</mo><mfenced class="SKT">
                         <mn>1</mn>
                        </mfenced>
                       </math>
                       
                </div>



                    <!-- ტექსტი -->
                <div class="detail_txt">
                x და y ღერძებზე საწყისი სიჩქარის გეგმილები (პროექციები) იქნება:
                </div>



                    <!-- ფორმულა -->
                <div class="detail_formula">
                    <math display='block'>
                        <msub>
                         <mi>V</mi>
                         <mrow>
                          <mn>0</mn><mi>x</mi></mrow>
                        </msub>
                        <mo>=</mo><msub>
                         <mi>V</mi>
                         <mn>0</mn>
                        </msub>
                        <mi>cos</mi><mi>&#x03B1;</mi><mo>&#x2192;</mo><mfenced  class="SKT">
                         <mn>2</mn>
                        </mfenced>
                       </math>

                       <math display='block'>
                        <msub>
                         <mi>V</mi>
                         <mrow>
                          <mn>0</mn><mi>y</mi></mrow>
                        </msub>
                        <mo>=</mo><msub>
                         <mi>V</mi>
                         <mn>0</mn>
                        </msub>
                        <mi>sin</mi><mi>&#x03B1;</mi><mo>&#x2192;</mo><mfenced class="SKT">
                         <mn>3</mn>
                        </mfenced>
                       </math>
                       
                       
                </div>            



                    <!-- ტექსტი -->
                <div class="detail_txt">
                    <math>
                        <msub>
                         <mi>V</mi>
                         <mrow>
                          <mn>0</mn><mi>x</mi></mrow>
                        </msub>
                        
                       </math>-ის მნიშვნელობის შეტანით პირველ ფორმულაში მივიღებთ:
                       
                </div>



                    <!-- ფორმულა -->
                <div class="detail_formula">
                    <math display='block'>
                        <mi>S</mi><mo>=</mo><msub>
                         <mi>V</mi>
                         <mn>0</mn>
                        </msub>
                        <mi>cos</mi><mi>&#x03B1;</mi><msub>
                         <mi>T</mi>
                         <mrow>
                          <mi>ს</mi><mi>რ</mi></mrow>
                        </msub>
                        
                       </math>
                       
                </div>



                    <!-- ტექსტი -->
                <div class="detail_txt">
                ხოლო სრული დროის საპოვნელად გასროლის წერტილიდან მაქსიმალურ სიმაღლემდე ასვლის დროს
                უნდა დავუმატოთ ამ სიმაღლიდან დედამიწამდე ჩამოსასვლელად საჭირო დრო, თუ ასვლის დროს აღვნიშნავთ  <math>
                    <msub>
                     <mi>T</mi>
                     <mn>1</mn>
                    </msub>
                    
                   </math>-ით, ხოლო ჩამოსვლის დროს <math>
                    <msub>
                     <mi>T</mi>
                     <mn>2</mn>
                    </msub>
                    
                   </math>-ით, ფრენის სრული დრო იქნება:
                   
                   :
                </div>



                    <!-- ფორმულა -->
                <div class="detail_formula">
                    <math display='block'>
                        <msub>
                         <mi>T</mi>
                         <mrow>
                          <mi>ს</mi><mi>რ</mi></mrow>
                        </msub>
                        <mo>=</mo><msub>
                         <mi>T</mi>
                         <mn>1</mn>
                        </msub>
                        <mo>+</mo><msub>
                         <mi>T</mi>
                         <mn>2</mn>
                        </msub>
                        <mo>&#x2192;</mo><mfenced class="SKT">
                         <mn>4</mn>
                        </mfenced>
                       </math>
                       
                </div>



                    <!-- ტექსტი -->
                <div class="detail_txt">
                რადგან y ღერძზე სხეული თანაბარაჩქარებულად მოძრაობს ასვლის დროის საპოვნელად შეგვიძლია გამოვიყენოთ
                თანაბარაჩქარებული მოძრაობის დროს მყისი სიჩქარის გამოსათვლელი ფორმულა:
                </div>



                    <!-- ფორმულა -->
                <div class="detail_formula">
                    <math display='block'>
                        <msub>
                         <mi>V</mi>
                         <mi>h</mi>
                        </msub>
                        <mo>=</mo><msub>
                         <mi>V</mi>
                         <mrow>
                          <mn>0</mn><mi>y</mi></mrow>
                        </msub>
                        <mo>&#x2212;</mo><mi>g</mi><msub>
                         <mi>T</mi>
                         <mn>1</mn>
                        </msub>
                        <mo>&#x2192;</mo><mfenced  class="SKT">
                         <mn>5</mn>
                        </mfenced>
                       </math>
                       
                       
                </div>




                    <!-- ტექსტი -->
                <div class="detail_txt">
                    თუ გავითვალისწინებთ იმას, რომ გასროლის წერტილიდან მაქსიმალურ h სიმაღლეზე ასვლისას სხეულის
                    სიჩქარის y მდგენელი  ნოლის ტოლია მე-(5)-ე ფორმულა გადაიწერება შემდეგნაირად:
               </div>



                    <!-- ფორმულა -->
                <div class="detail_formula">
                    <math display='block'>
                        <mn>0</mn><mo>=</mo><msub>
                         <mi>V</mi>
                         <mrow>
                          <mn>0</mn><mi>y</mi></mrow>
                        </msub>
                        <mo>&#x2212;</mo><mi>g</mi><msub>
                         <mi>T</mi>
                         <mn>1</mn>
                        </msub>
                        
                       </math>

                       
                       <math display='block'>
                        <msub>
                         <mi>V</mi>
                         <mrow>
                          <mn>0</mn><mi>y</mi></mrow>
                        </msub>
                        <mo>=</mo><mi>g</mi><msub>
                         <mi>T</mi>
                         <mn>1</mn>
                        </msub>
                        <mo>&#x2192;</mo><mfenced class="SKT">
                         <mn>6</mn>
                        </mfenced>
                       </math>
                       
                </div>




                    <!-- ტექსტი -->
                <div class="detail_txt">
                    მე-(6)-ე ფორმულიდან კი უკვე მარტივია ასვლის დროის განსაზღვრა:
                </div>



                    <!-- ფორმულა -->
                <div class="detail_formula">
                    <math display='block'>
                        <msub>
                         <mi>T</mi>
                         <mn>1</mn>
                        </msub>
                        <mo>=</mo><mfrac>
                         <mrow>
                          <msub>
                           <mi>V</mi>
                           <mrow>
                            <mn>0</mn><mi>y</mi></mrow>
                          </msub>
                          </mrow>
                         <mi>g</mi>
                        </mfrac>
                        
                       </math>

                       
                       <math display='block'>
                        <msub>
                         <mi>T</mi>
                         <mn>1</mn>
                        </msub>
                        <mo>=</mo><mfrac>
                         <mrow>
                          <msub>
                           <mi>V</mi>
                           <mn>0</mn>
                          </msub>
                          <mi>sin</mi><mi>&#x03B1;</mi></mrow>
                         <mi>g</mi>
                        </mfrac>
                        <mo>&#x2192;</mo><mfenced class="SKT">
                         <mn>7</mn>
                        </mfenced>
                       </math>
                       
                </div>



                    <!-- ტექსტი -->
                <div class="detail_txt">
                    ჩამოსვლის დროის საპოვნელად უნდა გავითვალისწინოთ, რომ სხეული ვარდება H+h სიმაღლიდან უსაწყისო
                    სიჩქარით (h სიმაღლეზე ასვლისას ამ სხეულის სიჩქარის y მდგენელი ნოლის ტოლია), შესაბამისად y ღერძზე ამ სხეულის
                    მიერ გავლილი მანძილის საპოვნელად უნდა გამოვიყენოთ თანაბარაჩაქარებული მოძრაობის  დროს მანძილის
                    გამოსათვლელი ფორმულა, იმის გათვალისწინებით, რომ სხეულის საწყისი სიჩქარე ნოლს უდრის,
                    ხოლო გავლილი მანძილი ამ შემთხვევაში H+h-ის ტოლია გვექნება:
                </div>



                    <!-- ფორმულა -->
                <div class="detail_formula">
                    <math display='block'>
                        <mi>h</mi><mo>+</mo><mi>H</mi><mo>=</mo><mfrac>
                         <mrow>
                          <mi>g</mi><msubsup>
                           <mi>T</mi>
                           <mn>2</mn>
                           <mn>2</mn>
                          </msubsup>
                          </mrow>
                         <mn>2</mn>
                        </mfrac>
                        <mo>&#x2192;</mo><mfenced class="SKT">
                         <mn>8</mn>
                        </mfenced>
                       </math>
                       
                </div>


                    <!-- ტექსტი -->
                <div class="detail_txt">
                    მე-(8)-ე ფორმულიდან მარტივია ჩამოსვლისთვის საჭირო დროის განსაზღვრა:
                </div>



                    <!-- ფორმულა -->
                <div class="detail_formula">
                    <math display='block'>
                        <msub>
                         <mi>T</mi>
                         <mn>2</mn>
                        </msub>
                        <mo>=</mo><msqrt>
                         <mrow>
                          <mfrac>
                           <mrow>
                            <mn>2</mn><mfenced>
                             <mrow>
                              <mi>h</mi><mo>+</mo><mi>H</mi></mrow>
                            </mfenced></mrow>
                           <mi>g</mi>
                          </mfrac>
                          </mrow>
                        </msqrt>
                        <mo>&#x2192;</mo><mfenced class="SKT">
                         <mn>9</mn>
                        </mfenced>
                       </math>
                       
                </div>


                    <!-- ტექსტი -->
                <div class="detail_txt">
                    იმისათვის, რომ ვიპოვოთ h გამოვიყენოთ თანაბარაჩქარებული მოძრაობის დროს მანძილის გამოსათვლელი
                    კიდევ ერთი ფორმულა:
                </div>



                    <!-- ფორმულა -->
                <div class="detail_formula">
                    <math display='block'>
                        <mi>h</mi><mo>=</mo><mfrac>
                         <mrow>
                          <msubsup>
                           <mi>V</mi>
                           <mrow>
                            <mn>0</mn><mi>y</mi></mrow>
                           <mn>2</mn>
                          </msubsup>
                          <mo>&#x2212;</mo><msubsup>
                           <mi>V</mi>
                           <mi>h</mi>
                           <mn>2</mn>
                          </msubsup>
                          </mrow>
                         <mrow>
                          <mn>2</mn><mi>g</mi></mrow>
                        </mfrac>
                        <mo>&#x2192;</mo><mfenced class="SKT">
                         <mrow>
                          <mn>10</mn></mrow>
                        </mfenced>
                       </math>
                       
                </div>


                    <!-- ტექსტი -->
                <div class="detail_txt">
                    რადგან h სიმაღლეზე სხეულის სიჩქარის y მდგენელი ნოლის ტოლია  მე-(10)-ე ფორმულა  გადაიწერება შემდეგნაირად:
                </div>



                    <!-- ფორმულა -->
                <div class="detail_formula">
                    <math display='block'>
                        <mi>h</mi><mo>=</mo><mfrac>
                         <mrow>
                          <msubsup>
                           <mi>V</mi>
                           <mrow>
                            <mn>0</mn><mi>y</mi></mrow>
                           <mn>2</mn>
                          </msubsup>
                          </mrow>
                         <mrow>
                          <mn>2</mn><mi>g</mi></mrow>
                        </mfrac>
                        
                       </math>

                       
                       <math display='block'>
                        <mi>h</mi><mo>=</mo><mfrac>
                         <mrow>
                          <msubsup>
                           <mi>V</mi>
                           <mn>0</mn>
                           <mn>2</mn>
                          </msubsup>
                          <msup>
                           <mrow>
                            <mi>sin</mi></mrow>
                           <mn>2</mn>
                          </msup>
                          <mi>&#x03B1;</mi></mrow>
                         <mrow>
                          <mn>2</mn><mi>g</mi></mrow>
                        </mfrac>
                        <mo>&#x2192;</mo><mfenced class="SKT">
                         <mrow>
                          <mn>11</mn></mrow>
                        </mfenced>
                       </math>
                       
                </div>


                    <!-- ტექსტი -->
                <div class="detail_txt">
                    შვიტანოთ h-ის მიღებული მნიშვნელობა ჩამოსვლის დროის გამოსათვლელ მე-(9)-ე ფორმულაში:
                </div>



                    <!-- ფორმულა -->
                <div class="detail_formula">
                    <math display='block'>
                        <msub>
                         <mi>T</mi>
                         <mn>2</mn>
                        </msub>
                        <mo>=</mo><msqrt>
                         <mrow>
                          <mfrac>
                           <mrow>
                            <mn>2</mn><mfenced>
                             <mrow>
                              <mfrac>
                               <mrow>
                                <msubsup>
                                 <mi>V</mi>
                                 <mn>0</mn>
                                 <mn>2</mn>
                                </msubsup>
                                <msup>
                                 <mrow>
                                  <mi>sin</mi></mrow>
                                 <mn>2</mn>
                                </msup>
                                <mi>&#x03B1;</mi></mrow>
                               <mrow>
                                <mn>2</mn><mi>g</mi></mrow>
                              </mfrac>
                              <mo>+</mo><mi>H</mi></mrow>
                            </mfenced></mrow>
                           <mi>g</mi>
                          </mfrac>
                          </mrow>
                        </msqrt>
                        
                       </math>

                       

                       <math display='block'>
                        <msub>
                         <mi>T</mi>
                         <mn>2</mn>
                        </msub>
                        <mo>=</mo><msqrt>
                         <mrow>
                          <mfrac>
                           <mrow>
                            <mn>2</mn><mfenced>
                             <mrow>
                              <msubsup>
                               <mi>V</mi>
                               <mn>0</mn>
                               <mn>2</mn>
                              </msubsup>
                              <msup>
                               <mrow>
                                <mi>sin</mi></mrow>
                               <mn>2</mn>
                              </msup>
                              <mi>&#x03B1;</mi><mo>+</mo><mn>2</mn><mi>H</mi><mi>g</mi></mrow>
                            </mfenced></mrow>
                           <mrow>
                            <mn>2</mn><msup>
                             <mi>g</mi>
                             <mn>2</mn>
                            </msup>
                            </mrow>
                          </mfrac>
                          </mrow>
                        </msqrt>
                        
                       </math>


                       <math display='block'>
                        <msub>
                         <mi>T</mi>
                         <mn>2</mn>
                        </msub>
                        <mo>=</mo><mfrac>
                         <mrow>
                          <msqrt>
                           <mrow>
                            <msub>
                             <mi>V</mi>
                             <mn>0</mn>
                            </msub>
                            <msup>
                             <mrow></mrow>
                             <mn>2</mn>
                            </msup>
                            <msup>
                             <mrow>
                              <mi>sin</mi></mrow>
                             <mn>2</mn>
                            </msup>
                            <mi>&#x03B1;</mi><mo>+</mo><mn>2</mn><mi>H</mi><mi>g</mi></mrow>
                          </msqrt>
                          </mrow>
                         <mi>g</mi>
                        </mfrac>
                        <mo>&#x2192;</mo><mfenced class="SKT">
                         <mrow>
                          <mn>12</mn></mrow>
                        </mfenced>
                       </math>
                       
                </div>


                    <!-- ტექსტი -->
                <div class="detail_txt">
                   ხოლო  <math>
                        <msub>
                         <mi>T</mi>
                         <mn>1</mn>
                        </msub>
                        
                       </math> და <math>
                        <msub>
                         <mi>T</mi>
                         <mn>2</mn>
                        </msub>
                        
                       </math> დროების შეტანით სრული დროის გამოსათვლელ მე-(4)-ე ფორმულაში მივიღებთ:
                       
                       
                </div>



                    <!-- ფორმულა -->
                <div class="detail_formula">
                    <math display='block'>
                        <msub>
                         <mi>T</mi>
                         <mrow>
                          <mi>ს</mi><mi>რ</mi></mrow>
                        </msub>
                        <mo>=</mo><mfrac>
                         <mrow>
                          <msub>
                           <mi>V</mi>
                           <mn>0</mn>
                          </msub>
                          <mi>sin</mi><mi>&#x03B1;</mi></mrow>
                         <mi>g</mi>
                        </mfrac>
                        <mo>+</mo><mfrac>
                         <mrow>
                          <msqrt>
                           <mrow>
                            <msub>
                             <mi>V</mi>
                             <mn>0</mn>
                            </msub>
                            <msup>
                             <mrow></mrow>
                             <mn>2</mn>
                            </msup>
                            <msup>
                             <mrow>
                              <mi>sin</mi></mrow>
                             <mn>2</mn>
                            </msup>
                            <mi>&#x03B1;</mi><mo>+</mo><mn>2</mn><mi>H</mi><mi>g</mi></mrow>
                          </msqrt>
                          </mrow>
                         <mi>g</mi>
                        </mfrac>
                        
                       </math>

                       <math display='block'>
                        <msub>
                         <mi>T</mi>
                         <mrow>
                          <mi>ს</mi><mi>რ</mi></mrow>
                        </msub>
                        <mo>=</mo><mfrac>
                         <mrow>
                          <msub>
                           <mi>V</mi>
                           <mn>0</mn>
                          </msub>
                          <mi>sin</mi><mi>&#x03B1;</mi><mo>+</mo><msqrt>
                           <mrow>
                            <msub>
                             <mi>V</mi>
                             <mn>0</mn>
                            </msub>
                            <msup>
                             <mrow></mrow>
                             <mn>2</mn>
                            </msup>
                            <msup>
                             <mrow>
                              <mi>sin</mi></mrow>
                             <mn>2</mn>
                            </msup>
                            <mi>&#x03B1;</mi><mo>+</mo><mn>2</mn><mi>H</mi><mi>g</mi></mrow>
                          </msqrt>
                          </mrow>
                         <mi>g</mi>
                        </mfrac>
                        <mo>&#x2192;</mo><mfenced class="SKT">
                         <mrow>
                          <mn>13</mn></mrow>
                        </mfenced>
                       </math>
                       
                       
                </div>


                    <!-- ტექსტი -->
                <div class="detail_txt">
            საბოლოოდ, სრული დროის შეტანით x ღერძზე გავლილი მანძილის გამოსათვლელ პირველ ფორმულაში გვექნება:
                </div>



                    <!-- ფორმულა -->
                <div class="detail_formula">
                    <math display='block' class="answer_color">
                        <mi>S</mi><mo>=</mo><mfrac>
                         <mrow>
                          <msub>
                           <mi>V</mi>
                           <mn>0</mn>
                          </msub>
                          <mi>cos</mi><mi>&#x03B1;</mi><mfenced>
                           <mrow>
                            <msub>
                             <mi>V</mi>
                             <mn>0</mn>
                            </msub>
                            <mi>sin</mi><mi>&#x03B1;</mi><mo>+</mo><msqrt>
                             <mrow>
                              <msub>
                               <mi>V</mi>
                               <mn>0</mn>
                              </msub>
                              <msup>
                               <mrow></mrow>
                               <mn>2</mn>
                              </msup>
                              <msup>
                               <mrow>
                                <mi>sin</mi></mrow>
                               <mn>2</mn>
                              </msup>
                              <mi>&#x03B1;</mi><mo>+</mo><mn>2</mn><mi>H</mi><mi>g</mi></mrow>
                            </msqrt>
                            </mrow>
                          </mfenced></mrow>
                         <mi>g</mi>
                        </mfrac>
                        
                       </math>
                       
                </div>


                    <!-- ტექსტი -->
                <div class="detail_txt">

                </div>



                    <!-- ფორმულა -->
                <div class="detail_formula">

                </div>
        
                 <!-- ტექსტი -->
                 <div class="detail_txt">

    
                </div>



                    <!-- ფორმულა -->
                <div class="detail_formula">

                </div>


                    <!-- ტექსტი -->
                <div class="detail_txt">

                </div>



                    <!-- ფორმულა -->
                <div class="detail_formula">

                </div>


                    <!-- ტექსტი -->
                <div class="detail_txt">

                </div>



                    <!-- ფორმულა -->
                <div class="detail_formula">

                </div>


                    <!-- ტექსტი -->
                <div class="detail_txt">

                </div>



                    <!-- ფორმულა -->
                <div class="detail_formula">

                </div>


                    <!-- ტექსტი -->
                <div class="detail_txt">

                </div>



                    <!-- ფორმულა -->
                <div class="detail_formula">

                </div>


                    <!-- ტექსტი -->
                <div class="detail_txt">

                </div>



                    <!-- ფორმულა -->
                <div class="detail_formula">

                </div>


                    <!-- ტექსტი -->
                <div class="detail_txt">

                </div>



                    <!-- ფორმულა -->
                <div class="detail_formula">

                </div>


                    <!-- ტექსტი -->
                <div class="detail_txt">

                </div>



                    <!-- ფორმულა -->
                <div class="detail_formula">

                </div>
        
           </div>
        </div>
    </div>
</section>









<!--******************************************************** სტილების კორექტირებები *******************************************************-->
<!--******************************************************** სტილების კორექტირებები *******************************************************-->
<!--******************************************************** სტილების კორექტირებები *******************************************************-->




            <style>

a:nth-child(5) {
                width: 90px;
            }       


            nav .start-contact, a:nth-child(5):hover~.animation {
                width: 90px;
                left: 445px;
                background-color: #e67e22;
            }

           

            .input1 {
                background-color: #303245;
                margin: 10px; 
                border-radius: 10px;
                border: 0;
                box-sizing: border-box;
                color: #eee;
                font-size: 18px;
                height: 50px;
                outline: 0;
                padding: 4px 20px 0;
                width: 140px;
                
            }


            .holder1{
            position: absolute;
            background-color: var(--background_color);
            border-radius: 40px;
            text-align: center;
            font-size: 16px;
            width: 100px;
            height: 25px;
            color: rgb(206, 193, 193);
            font-weight: bold;
            margin-left: 30px;
            bottom: 50px; 
            }

            </style>




{% endblock %}
