{% extends 'base_calc.html' %}



{% block content%}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/calculator.css') }}">



<!--************************************************************* ნავიგაციის სექცია******************************************************* -->

<section class="navigation">
    <nav> 
        <a href="/"> მთავარი </a>
        <a href="/calculator"> დარგები </a>
        <a href="/calculator/mechanic"> მექანიკა </a>
        <a href="/calculator/mechanic/kinematika"> კინემატიკა </a>
        <a href="/calculator/mechanic/kinematika/height_gasrolili"> ამოცანა</a>

 
        <div class="animation start-home"></div>
    </nav>
</section>


<!--************************************************************* სათაურის სექცია******************************************************* -->
<section class="main_header_secttion"> <div class="main_header">მყისი სიჩქარე</div></section>




<!--******************************************************* ინფორმაციისს ტრასფერის სექცია************************************************* -->
<section class="input_variables_section">

    <form name="passdata" action="." method="POST">

    <div class="input_variables">

        <div class="variable_1">
            <input type="number" class="input1"  placeholder=" " step="0.001" min=0 value="0" name="angle">
              
                <div class="holder1">
                    <label for="firstname" class="placeholder_of_inputs" >კუთხე</label>
                </div>
        </div>


        <div class="variable_2">
            <input type="number" class="input"  placeholder=" " step="0.001" min=0 value="0" name="initial_height">
              
                <div class="holder">
                    <label for="firstname" class="placeholder_of_inputs" >საწყ.სიმაღლე</label>
                </div>
        </div>

        
        <div class="variable_2">
            <input type="number" class="input"  placeholder=" " step="0.001" min=0 value="9.8" name="gravity">
            
                <div class="holder">
                     <label for="firstname" class="placeholder_of_inputs" >გრავიტაცია</label>
                </div>
        </div>

        <div class="variable_3">
            <input type="number" class="input"  placeholder=" " step="0.001" min=0 value="0" name="initaial_velocity">
               
            <div class="holder">
                
                <label for="firstname" class="placeholder_of_inputs" >საწყ.სიჩქარე</label>
            
            </div>
        </div>



        <!-- გამზადებულია გამოსაყენებლად -->
        <div class="variable_4">
            <input type="number" class="input"  placeholder=" " step="0.001" min=0 value="0" name="n_time">
               
            <div class="holder">
                
                <label for="firstname" class="placeholder_of_inputs" >მე-n-ე წამი</label>
            
            </div>
        </div>
       


        <!-- გამზადებულია გამოსაყენებლად -->
        <div class="variable_5">

        </div>






        <!-- გამშვები ბათონი -->
        <div class="submut_button">
            <button type="submit" class="submit">გამოთვლა</button>
        </div>

    </div>


    </form>
</section>




<!--******************************************************* პასუხების სექცია************************************************* -->
<section class="answers_section">
    <form name="passdata" action="." method="POST">

  
             <div class="answers">სიჩქარე დედამიწის მიმართ: <div class="answer_number">{{inst_E}} {{Dimension}} </div> </div>
             <div class="answers">სიჩქარე Y ღერძზე: <div class="answer_number">{{inst_Y}} {{Dimension}} </div> </div>
             <div class="answers">სიჩქარე X ღერძზე: <div class="answer_number">{{inst_X}} {{Dimension}} </div> </div>

    </form>
</section>





<!--******************************************************* ფოტოს ************************************************* -->

<section class="drawing">
    <div>


        <div class="union">  
            <div class="main_header">დეტალურად</div>
        </div>




<!--********************************************** გამოიყენება მაშინ როცა სურათი არის მარცხენა მხარეს  **************************************-->
<!--********************************************** გამოიყენება მაშინ როცა სურათი არის მარცხენა მხარეს  **************************************-->
<!--********************************************** გამოიყენება მაშინ როცა სურათი არის მარცხენა მხარეს  **************************************-->






<!--********************************************** გამოიყენება მაშინ როცა სურათი არის ზევით მხარეს  **************************************-->
<!--********************************************** გამოიყენება მაშინ როცა სურათი არის ზევით მხარეს  **************************************-->
<!--********************************************** გამოიყენება მაშინ როცა სურათი არის ზევით მხარეს  **************************************-->




            <div class="div_photo_txt_down">

                     <img class="photo_down" src="/static/images/mechanic/kinematika/fallen/free_fall.jpg" alt="" style="width: 900px; height: 200px;">
                     
                     

                    <div class="main_detail_down">

                                       
                    <!-- ტექსტი -->
                    <div class="detail_txt">
                    თუ გვინდა ვიპოვოთ გასროლილი სხეულის მყისი სიჩქარე უნდა გავითვალისწინოთ, რომ 
                    ეს სხეული ასრულებს 2 სახის მოძრაობას. იგი  
                    x ღერძზე მოძრაობს თანაბრად, შესაბამისად სხეულის სიჩქარის x მდგენელი არ იცვლება (ანუ მთელი
                    მოძრაობის დროის განმალობაში <math>
                        <msub>
                         <mi>V</mi>
                         <mrow>
                          <mn>0</mn><mi>x</mi></mrow>
                        </msub>
                        <mo>=</mo><msub>
                         <mi>V</mi>
                         <mn>0</mn>
                        </msub>
                        <mi>cos</mi><mi>&#x03B1;</mi>
                       </math>-ს) 
                       ხოლო y ღერძზე სხეული მოძრაობს თანაბარაჩქარებულად, ამის გამო სხეულის სიჩქარის 
                       y მდგენელი მუდმივად იცვლება. რადგან სიჩქარის x და y მდგენელები ერთმანეთთან 
                       მართ კუთხეს ადგენენ სრული სიჩქარის საპოვნელად უნდა გამოვიყენოთ პითაგორას თეორემა:
                       
                    
                    </div>
    
    
    
                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block'>
                            <mi>V</mi><mo>=</mo><msqrt>
                             <mrow>
                              <msubsup>
                               <mi>V</mi>
                               <mrow>
                                <mn>0</mn><mi>x</mi></mrow>
                               <mn>2</mn>
                              </msubsup>
                              <mo>+</mo><msubsup>
                               <mi>V</mi>
                               <mi>y</mi>
                               <mn>2</mn>
                              </msubsup>
                              </mrow>
                            </msqrt>
                            
                           </math>
                        </div>

                <!-- ტექსტი -->
                <div class="detail_txt">
                    x და y ღერძებზე საწყისი სიჩქარის გეგმილები (პროექციები) იქნება:
                    </div>



                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block'>
                            <msub>
                            <mi>V</mi>
                            <mrow>
                            <mn>0</mn><mi>x</mi></mrow>
                            </msub>
                            <mo>=</mo><msub>
                            <mi>V</mi>
                            <mn>0</mn>
                            </msub>
                            <mi>cos</mi><mi>&#x03B1;</mi><mo>&#x2192;</mo><mfenced  class="SKT">
                            <mn>1</mn>
                            </mfenced>
                        </math>

                        <math display='block'>
                            <msub>
                            <mi>V</mi>
                            <mrow>
                            <mn>0</mn><mi>y</mi></mrow>
                            </msub>
                            <mo>=</mo><msub>
                            <mi>V</mi>
                            <mn>0</mn>
                            </msub>
                            <mi>sin</mi><mi>&#x03B1;</mi><mo>&#x2192;</mo><mfenced class="SKT">
                            <mn>2</mn>
                            </mfenced>
                        </math>
                        
                        
                    </div>  
                    
                     <!-- ტექსტი -->
                     <div class="detail_txt">
                        შევიტანოთ სრული სიჩქარის გამოსათვლელ ფორმულაში <math>
                            <msub>
                             <mi>V</mi>
                             <mrow>
                              <mn>0</mn><mi>x</mi></mrow>
                            </msub>
                            
                           </math>:
                           
                    </div>

                            <!-- ფორმულა -->
                    <div class="detail_formula">
                           <math display='block'>
                            <mi>V</mi><mo>=</mo><msqrt>
                             <mrow>
                              <msubsup>
                               <mi>V</mi>
                               <mn>0</mn>
                               <mn>2</mn>
                              </msubsup>
                              <msup>
                               <mrow>
                                <mi>cos</mi></mrow>
                               <mn>2</mn>
                              </msup>
                              <mi>&#x03B1;</mi><mo>+</mo><msubsup>
                               <mi>V</mi>
                               <mi>y</mi>
                               <mn>2</mn>
                              </msubsup>
                              </mrow>
                            </msqrt>
                            <mo>&#x2192;</mo><mfenced class="SKT">
                             <mrow>
                              <mn>3</mn></mrow>
                            </mfenced>
                           </math>
                    </div>
    
    
    
                        <!-- ტექსტი -->
                    <div class="detail_txt">
                        რადგან x ღერძზე სხეული თანაბრად გადაადგილდება ამ ღერძზე სხეულის მყისი სიჩქარეც უცვლელი იქნება,
                        ანუ მყისი სიჩქარე x ღერძზე მუდმივად <math>
                            <msub>
                             <mi>V</mi>
                             <mn>0</mn>
                            </msub>
                            <mi>cos</mi><mi>&#x03B1;</mi>
                           </math>-ს ტოლი იქნება:
                            
                    
                    </div>
    
    
    
                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block' class="answer_color">
                            <mrow>
                             <msub>
                              <mi>V</mi>
                              <mrow>
                               <msub>
                                <mi>X</mi>
                                <mrow>
                                 <mi>მ</mi><mi>ყ</mi></mrow>
                               </msub>
                               </mrow>
                             </msub>
                             <mo>=</mo><msub>
                              <mi>V</mi>
                              <mn>0</mn>
                             </msub>
                             <mi>cos</mi><mi>&#x03B1;</mi><mo>&#x2192;</mo><mfenced class="SKT">
                              <mn>4</mn>
                             </mfenced></mrow>
                           </math>
                           
                    </div>            
    
    
    
                        <!-- ტექსტი -->
                    <div class="detail_txt">
                        ხოლო y ღერძზე სხეულის მყისი სიჩქარის საპოვნელად მოძრაობა უნდა დავყოთ ორ ნაწილად. 
                        1) თუ მოცემული n წამი ნაკლებია ან ტოლია h სიმაღლემდე ასასვლელად საჭირო დროზე, 
                        რომელიც ამ შემთხვევაში აღნიშნულია <math>
                            <msub>
                             <mi>T</mi>
                             <mn>1</mn>
                            </msub>
                            
                           </math>-ით (<math>
                            <mi>n</mi><mo>&#x2264;</mo><msub>
                             <mi>T</mi>
                             <mn>1</mn>
                            </msub>
                            
                           </math>
                           ),
                           მაშინ y ღერძზე სხეულის მყისი  სიჩქარის გეგმილი ტოლი იქნება:
                    </div>
    
    
    
                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block'>
                            <msub>
                             <mi>V</mi>
                             <mrow>
                              <msub>
                               <mi>Y</mi>
                               <mrow>
                                <mi>მ</mi><mi>ყ</mi></mrow>
                              </msub>
                              </mrow>
                            </msub>
                            <mo>=</mo><msub>
                             <mi>V</mi>
                             <mrow>
                              <mn>0</mn><mi>y</mi></mrow>
                            </msub>
                            <mo>&#x2212;</mo><mi>g</mi><mi>n</mi>
                           </math>

                           
                           <math display='block' class="answer_color">
                            <msub>
                             <mi>V</mi>
                             <mrow>
                              <msub>
                               <mi>Y</mi>
                               <mrow>
                                <mi>მ</mi><mi>ყ</mi></mrow>
                              </msub>
                              </mrow>
                            </msub>
                            <mo>=</mo><msub>
                             <mi>V</mi>
                             <mn>0</mn>
                            </msub>
                            <mi>sin</mi><mi>&#x03B1;</mi><mo>&#x2212;</mo><mi>g</mi><mi>n</mi><mo>&#x2192;</mo><mfenced class="SKT">
                             <mn>5</mn>
                            </mfenced>
                           </math>
                           
                    </div>
    
    
    
                        <!-- ტექსტი -->
                    <div class="detail_txt">
                        სრული მყისი სიჩქარის (ანუ დედამიწის მიმართ მყისი სიჩქარის)
                            საპოვნელად მე-(3)-ე ფორმულაში შევიტანოთ მყისი სიჩქარის x და y მდგენელები:
                    </div>
    
    
    
                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block'>
                            <msub>
                             <mi>V</mi>
                             <mrow>
                              <mi>მ</mi><mi>ყ</mi></mrow>
                            </msub>
                            <mo>=</mo><msqrt>
                             <mrow>
                              <msubsup>
                               <mi>V</mi>
                               <mrow>
                                <msub>
                                 <mi>X</mi>
                                 <mrow>
                                  <mi>მ</mi><mi>ყ</mi></mrow>
                                </msub>
                                </mrow>
                               <mn>2</mn>
                              </msubsup>
                              <mo>+</mo><msubsup>
                               <mi>V</mi>
                               <mrow>
                                <msub>
                                 <mi>Y</mi>
                                 <mrow>
                                  <mi>მ</mi><mi>ყ</mi></mrow>
                                </msub>
                                </mrow>
                               <mn>2</mn>
                              </msubsup>
                              </mrow>
                            </msqrt>
                            
                           </math>


                           <math display='block' class="answer_color">
                            <msub>
                             <mi>V</mi>
                             <mrow>
                              <mi>მ</mi><mi>ყ</mi></mrow>
                            </msub>
                            <mo>=</mo><msqrt>
                             <mrow>
                              <msubsup>
                               <mi>V</mi>
                               <mn>0</mn>
                               <mn>2</mn>
                              </msubsup>
                              <msup>
                               <mrow>
                                <mi>cos</mi></mrow>
                               <mn>2</mn>
                              </msup>
                              <mi>&#x03B1;</mi><mo>+</mo><msup>
                               <mrow>
                                <mfenced>
                                 <mrow>
                                  <msub>
                                   <mi>V</mi>
                                   <mn>0</mn>
                                  </msub>
                                  <mi>sin</mi><mi>&#x03B1;</mi><mo>&#x2212;</mo><mi>g</mi><mi>n</mi></mrow>
                                </mfenced></mrow>
                               <mn>2</mn>
                              </msup>
                              </mrow>
                            </msqrt>
                            
                           </math>
                           
                    </div>
    
    
    
                        <!-- ტექსტი -->
                    <div class="detail_txt">
                        2)როდესაც მოცემული n წამი მეტია h სიმაღლემდე ასასვლელად
                        საჭირო დროზე <math>
                            <msub>
                             <mi>T</mi>
                             <mn>1</mn>
                            </msub>
                            
                           </math>-ზე და ნაკლებია ფრენის სრულ დროზე (<math>
                            <msub>
                             <mi>T</mi>
                             <mn>1</mn>
                            </msub>
                            <mo>&#x003C;</mo><mi>n</mi><mo>&#x003C;</mo><msub>
                             <mi>T</mi>
                             <mrow>
                              <mi>ს</mi><mi>რ</mi></mrow>
                            </msub>
                            
                           </math>
                           ), ამ შემთხვევაშიც x ღერძზე სხეულის მყისი
                           სიჩქარის გეგმილი ისევ  <math>
                            <msub>
                             <mi>V</mi>
                             <mn>0</mn>
                            </msub>
                            <mi>cos</mi><mi>&#x03B1;</mi>
                           </math>-ს  ტოლი იქნება:
                           


                           
                    </div>
    
    
    
                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block' class="answer_color">
                            <mrow>
                             <msub>
                              <mi>V</mi>
                              <mrow>
                               <msub>
                                <mi>X</mi>
                                <mrow>
                                 <mi>მ</mi><mi>ყ</mi></mrow>
                               </msub>
                               </mrow>
                             </msub>
                             <mo>=</mo><msub>
                              <mi>V</mi>
                              <mn>0</mn>
                             </msub>
                             <mi>cos</mi><mi>&#x03B1;</mi><mo>&#x2192;</mo><mfenced class="SKT">
                              <mn>6</mn>
                             </mfenced></mrow>
                           </math>
                           
                    </div>
    
    
    
    
                        <!-- ტექსტი -->
                    <div class="detail_txt">
                        თუ მოცემული მე-n-ე წამი მეტია h სიმაღლემდე ასასვლელად
                        საჭირო დროზე, გამოდის, რომ სხეული ავიდა h სიმაღლეზე და ამ წერტილიდან დაიწყო თავისუფალი ვარდნა,
                        შესაბამისად y ღერძზე მყისი სიჩქარის საპოვნელად პირველ რიგში უნდა ვიპოვოთ ის დრო, რომლის
                        განმალობაშიც სხეული თავისუფლად ვარდებოდა, ამ დროის პოვნა მარტივად შეგვიძლია თუ მოცემულ
                        n წამს გამოვაკლებთ h სიმაღლემდე ასვლისათვის საჭირო დროს-<math>
                            <msub>
                             <mi>T</mi>
                             <mn>1</mn>
                            </msub>
                            
                           </math>-ს:
                           

                    </div>
    
    
    
                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block'>
                            <mi>T</mi><mo>=</mo><mi>n</mi><mo>&#x2212;</mo><msub>
                             <mi>T</mi>
                             <mn>1</mn>
                            </msub>
                            <mo>&#x2192;</mo><mfenced class="SKT">
                             <mn>7</mn>
                            </mfenced>
                           </math>
                           
                           
                    </div>
    
    
    
    
                        <!-- ტექსტი -->
                    <div class="detail_txt">
                        მყისი სიჩქარის y მდგენელი ტოლი იქნება:
                    </div>
    
    
    
                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block'>
                            <msub>
                             <mi>V</mi>
                             <mrow>
                              <msub>
                               <mi>Y</mi>
                               <mrow>
                                <mi>მ</mi><mi>ყ</mi></mrow>
                              </msub>
                              </mrow>
                            </msub>
                            <mo>=</mo><msub>
                             <mi>V</mi>
                             <mi>h</mi>
                            </msub>
                            <mi>sin</mi><mi>&#x03B1;</mi><mo>&#x2212;</mo><mi>g</mi><mi>T</mi>
                           </math>

                           
                           <math display='block'>
                            <msub>
                             <mi>V</mi>
                             <mrow>
                              <msub>
                               <mi>Y</mi>
                               <mrow>
                                <mi>მ</mi><mi>ყ</mi></mrow>
                              </msub>
                              </mrow>
                            </msub>
                            <mo>=</mo><msub>
                             <mi>V</mi>
                             <mi>h</mi>
                            </msub>
                            <mi>sin</mi><mi>&#x03B1;</mi><mo>&#x2212;</mo><mi>g</mi><mfenced>
                             <mrow>
                              <mi>n</mi><mo>&#x2212;</mo><msub>
                               <mi>T</mi>
                               <mn>1</mn>
                              </msub>
                              </mrow>
                            </mfenced><mo>&#x2192;</mo><mfenced class="SKT"> 
                             <mn>8</mn>
                            </mfenced>
                           </math>
                           
                    </div>
    
    
    
                        <!-- ტექსტი -->
                    <div class="detail_txt">
                        თუ გავითვალისწინებთ, რომ h სიმაღლეზე სხეულის სიჩქარის y მდგენელი ნოლის ტოლია, მე-(8)-ე
                        ფორმულა გადაიწერება შემდეგნაირად:
                    </div>
    
    
    
                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block'>
                            <msub>
                             <mi>V</mi>
                             <mrow>
                              <msub>
                               <mi>Y</mi>
                               <mrow>
                                <mi>მ</mi><mi>ყ</mi></mrow>
                              </msub>
                              </mrow>
                            </msub>
                            <mo>=</mo><mi>g</mi><mfenced>
                             <mrow>
                              <mi>n</mi><mo>&#x2212;</mo><msub>
                               <mi>T</mi>
                               <mn>1</mn>
                              </msub>
                              </mrow>
                            </mfenced><mo>&#x2192;</mo><mfenced  class="SKT">
                             <mn>9</mn>
                            </mfenced>
                           </math>
                           
                    </div>
    
    
                        <!-- ტექსტი -->
                    <div class="detail_txt">
                        ხოლო  სრული მყისი სიჩქარე (ანუ მყისი სიჩქარე დედამიწის მიმართ), რომ ვიპოვოთ მე-(3)-ე ფორმულაში
                        შევიტანოთ მყისი სიჩქარის x და y მდგენელები, მე-(6)-ე და მე-(9)-ე ფორმულებიდან:
                    </div>
    
    
    
                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block'>
                            <msub>
                             <mi>V</mi>
                             <mrow>
                              <mi>მ</mi><mi>ყ</mi></mrow>
                            </msub>
                            <mo>=</mo><msqrt>
                             <mrow>
                              <msubsup>
                               <mi>V</mi>
                               <mn>0</mn>
                               <mn>2</mn>
                              </msubsup>
                              <msup>
                               <mrow>
                                <mi>cos</mi></mrow>
                               <mn>2</mn>
                              </msup>
                              <mi>&#x03B1;</mi><mo>+</mo><msup>
                               <mrow>
                                <mfenced>
                                 <mrow>
                                  <mi>g</mi><mfenced>
                                   <mrow>
                                    <mi>n</mi><mo>&#x2212;</mo><msub>
                                     <mi>T</mi>
                                     <mn>1</mn>
                                    </msub>
                                    </mrow>
                                  </mfenced></mrow>
                                </mfenced></mrow>
                               <mn>2</mn>
                              </msup>
                              </mrow>
                            </msqrt>
                            <mo>&#x2192;</mo><mfenced class="SKT">
                             <mn>10</mn>
                            </mfenced>
                           </math>
                           
                    </div>
    
    
                                        <!-- ტექსტი -->
                                    <div class="detail_txt">
                                        აუცილებელია ვიპოვოთ <math >
                                            <msub>
                                            <mi>T</mi>
                                            <mn>1</mn>
                                            </msub>
                                            
                                        </math>, ანუ h სიმაღლეზე ასვლის დრო.რადგან y ღერძზე სხეული თანაბარაჩქარებულად მოძრაობს ასვლის დროის საპოვნელად შეგვიძლია გამოვიყენოთ
                                        თანაბარაჩქარებული მოძრაობის დროს მყისი სიჩქარის გამოსათვლელი ფორმულა:
                                        
                                    </div>
                    
                    
                    
                                        <!-- ფორმულა -->
                                    <div class="detail_formula">
                                        <math display='block'>
                                            <msub>
                                            <mi>V</mi>
                                            <mi>h</mi>
                                            </msub>
                                            <mo>=</mo><msub>
                                            <mi>V</mi>
                                            <mrow>
                                            <mn>0</mn><mi>y</mi></mrow>
                                            </msub>
                                            <mo>&#x2212;</mo><mi>g</mi><msub>
                                            <mi>T</mi>
                                            <mn>1</mn>
                                            </msub>
                                            <mo>&#x2192;</mo><mfenced  class="SKT">
                                            <mn>11</mn>
                                            </mfenced>
                                        </math>
                                        
                                    </div>
                    <!-- ტექსტი -->
                    <div class="detail_txt">
                        თუ გავითვალისწინებთ იმას, რომ გასროლის წერტილიდან მაქსიმალურ h სიმაღლეზე ასვლისას სხეულის
                        სიჩქარის y მდგენელი  ნოლის ტოლია მე-(11)-ე ფორმულა გადაიწერება შემდეგნაირად:
                            </div>



                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block'>
                            <mn>0</mn><mo>=</mo><msub>
                            <mi>V</mi>
                            <mrow>
                            <mn>0</mn><mi>y</mi></mrow>
                            </msub>
                            <mo>&#x2212;</mo><mi>g</mi><msub>
                            <mi>T</mi>
                            <mn>1</mn>
                            </msub>
                            
                        </math>

                        
                        <math display='block'>
                            <msub>
                            <mi>V</mi>
                            <mrow>
                            <mn>0</mn><mi>y</mi></mrow>
                            </msub>
                            <mo>=</mo><mi>g</mi><msub>
                            <mi>T</mi>
                            <mn>1</mn>
                            </msub>
                            <mo>&#x2192;</mo><mfenced class="SKT">
                            <mn>12</mn>
                            </mfenced>
                        </math>
                        
                    </div>




                        <!-- ტექსტი -->
                    <div class="detail_txt">
                        მე-(12)-ე ფორმულიდან კი უკვე მარტივია ასვლის დროის განსაზღვრა:
                    </div>



                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block'>
                            <msub>
                            <mi>T</mi>
                            <mn>1</mn>
                            </msub>
                            <mo>=</mo><mfrac>
                            <mrow>
                            <msub>
                            <mi>V</mi>
                            <mrow>
                                <mn>0</mn><mi>y</mi></mrow>
                            </msub>
                            </mrow>
                            <mi>g</mi>
                            </mfrac>
                            
                        </math>

                        
                        <math display='block'>
                            <msub>
                            <mi>T</mi>
                            <mn>1</mn>
                            </msub>
                            <mo>=</mo><mfrac>
                            <mrow>
                            <msub>
                            <mi>V</mi>
                            <mn>0</mn>
                            </msub>
                            <mi>sin</mi><mi>&#x03B1;</mi></mrow>
                            <mi>g</mi>
                            </mfrac>
                            <mo>&#x2192;</mo><mfenced class="SKT">
                            <mn>13</mn>
                            </mfenced>
                        </math>
                        
                    </div>
    
                        <!-- ტექსტი -->
                    <div class="detail_txt">
                        შევიტანოთ მიღებული დრო მყისი სიჩქარის y მდგენელის გამოსათვლელ მე-(9)-ე ფორმულაში:
                    </div>
    
    
    
                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block' class="answer_color">
                            <mrow>
                             <msub>
                              <mi>V</mi>
                              <mrow>
                               <msub>
                                <mi>Y</mi>
                                <mrow>
                                 <mi>მ</mi><mi>ყ</mi></mrow>
                               </msub>
                               </mrow>
                             </msub>
                             <mo>=</mo><mi>g</mi><mfenced>
                              <mrow>
                               <mi>n</mi><mo>&#x2212;</mo><mfrac>
                                <mrow>
                                 <msub>
                                  <mi>V</mi>
                                  <mn>0</mn>
                                 </msub>
                                 <mi>sin</mi><mi>&#x03B1;</mi></mrow>
                                <mi>g</mi>
                               </mfrac>
                               </mrow>
                             </mfenced></mrow>
                           </math>
                           
                    </div>
    
    
                        <!-- ტექსტი -->
                    <div class="detail_txt">
                    ხოლო დედამიწის მიმართ მყისი სიჩქარის გამოსათვლელად მიღებული ასვლის დრო  უნდა 
                    შევიტანოოთ მე-(10)-ე ფორმულაში:
                    </div>
    
    
    
                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block' class="answer_color">
                            <msub>
                             <mi>V</mi>
                             <mrow>
                              <mi>მ</mi><mi>ყ</mi></mrow>
                            </msub>
                            <mo>=</mo><msqrt>
                             <mrow>
                              <msubsup>
                               <mi>V</mi>
                               <mn>0</mn>
                               <mn>2</mn>
                              </msubsup>
                              <msup>
                               <mrow>
                                <mi>cos</mi></mrow>
                               <mn>2</mn>
                              </msup>
                              <mi>&#x03B1;</mi><mo>+</mo><msup>
                               <mrow>
                                <mfenced>
                                 <mrow>
                                  <mi>g</mi><mfenced>
                                   <mrow>
                                    <mi>n</mi><mo>&#x2212;</mo><mfrac>
                                     <mrow>
                                      <msub>
                                       <mi>V</mi>
                                       <mn>0</mn>
                                      </msub>
                                      <mi>sin</mi><mi>&#x03B1;</mi></mrow>
                                     <mi>g</mi>
                                    </mfrac>
                                    </mrow>
                                  </mfenced></mrow>
                                </mfenced></mrow>
                               <mn>2</mn>
                              </msup>
                              </mrow>
                            </msqrt>
                            
                           </math>
                           
                    </div>
    
    
                        <!-- ტექსტი -->
                    <div class="detail_txt">
    
                    </div>
    
    
    
                        <!-- ფორმულა -->
                    <div class="detail_formula">
    
                    </div>
    
    
                        <!-- ტექსტი -->
                    <div class="detail_txt">
    
                    </div>
    
    
    
                        <!-- ფორმულა -->
                    <div class="detail_formula">
    
                    </div>
    
    
                        <!-- ტექსტი -->
                    <div class="detail_txt">
    
                    </div>
    
    
    
                        <!-- ფორმულა -->
                    <div class="detail_formula">
    
                    </div>


               
                        


             
                    </div>









        </div>
    </div>
</section>









<!--******************************************************** სტილების კორექტირებები *******************************************************-->
<!--******************************************************** სტილების კორექტირებები *******************************************************-->
<!--******************************************************** სტილების კორექტირებები *******************************************************-->




            <style>

            a:nth-child(5) {
                width: 90px;
            }       


            nav .start-contact, a:nth-child(5):hover~.animation {
                width: 90px;
                left: 445px;
                background-color: #e67e22;
            }

            .input3 {
                background-color: #303245;
                margin: 10px; 
                border-radius: 10px;
                border: 0;
                box-sizing: border-box;
                color: #eee;
                font-size: 18px;
                height: 50px;
                outline: 0;
                padding: 4px 20px 0;
                width: 210px;
                
            }


            .holder3{
            position: absolute;
            background-color: var(--background_color);
            border-radius: 40px;
            text-align: center;
            font-size: 16px;
            width: 170px;
            height: 25px;
            color: rgb(206, 193, 193);
            font-weight: bold;
            margin-left: 30px;
            bottom: 50px; 
            }


            .input1 {
                background-color: #303245;
                margin: 10px; 
                border-radius: 10px;
                border: 0;
                box-sizing: border-box;
                color: #eee;
                font-size: 18px;
                height: 50px;
                outline: 0;
                padding: 4px 20px 0;
                width: 140px;
                
            }


            .holder1{
            position: absolute;
            background-color: var(--background_color);
            border-radius: 40px;
            text-align: center;
            font-size: 16px;
            width: 100px;
            height: 25px;
            color: rgb(206, 193, 193);
            font-weight: bold;
            margin-left: 30px;
            bottom: 50px; 
            }


            .answers{
                font-size: 24px;
            }
            </style>


           

{% endblock %}
