{% extends 'base_calc.html' %}



{% block content%}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/calculator.css') }}">



<!--************************************************************* ნავიგაციის სექცია******************************************************* -->

<section class="navigation">
    <nav> 
        <a href="/"> მთავარი </a>
        <a href="/calculator"> დარგები </a>
        <a href="/calculator/mechanic"> მექანიკა </a>
        <a href="/calculator/mechanic/kinematika"> კინემატიკა </a>
        <a href="/calculator/mechanic/kinematika/height_gasrolili"> ამოცანა </a>

 
        <div class="animation start-home"></div>
    </nav>
</section>


<!--************************************************************* სათაურის სექცია******************************************************* -->
<section class="main_header_secttion"> <div class="main_header">მყისი მდებარეობა</div></section>




<!--******************************************************* ინფორმაციისს ტრასფერის სექცია************************************************* -->
<section class="input_variables_section">

    <form name="passdata" action="." method="POST">

    <div class="input_variables">

        <div class="variable_1">
            <input type="number" class="input1"  placeholder=" " step="0.001" min=0 value="0" name="angle">
              
                <div class="holder1">
                    <label for="firstname" class="placeholder_of_inputs" >კუთხე</label>
                </div>
        </div>

        <div class="variable_2">
            <input type="number" class="input"  placeholder=" " step="0.001" min=0 value="9.8" name="gravity">
            
                <div class="holder">
                     <label for="firstname" class="placeholder_of_inputs" >გრავიტაცია</label>
                </div>
        </div>

        <div class="variable_4">
            <input type="number" class="input"  placeholder=" " step="0.001" min=0 value="0" name="initial_height">
               
            <div class="holder">
                
                <label for="firstname" class="placeholder_of_inputs" >საწყ.სიმაღლე</label>
            
            </div>
        </div>

        <div class="variable_3">
            <input type="number" class="input"  placeholder=" " step="0.001" min=0 value="0" name="initaial_velocity">
               
            <div class="holder">
                
                <label for="firstname" class="placeholder_of_inputs" >საწყ.სიჩქარე</label>
            
            </div>
        </div>



        <!-- გამზადებულია გამოსაყენებლად -->
        <div class="variable_4">
            <input type="number" class="input"  placeholder=" " step="0.001" min=0 value="0" name="time">
               
            <div class="holder">
                
                <label for="firstname" class="placeholder_of_inputs" >მე-n-ე წამი</label>
            
            </div>
        </div>
       


        <!-- გამზადებულია გამოსაყენებლად -->
        <div class="variable_5">

        </div>






        <!-- გამშვები ბათონი -->
        <div class="submut_button">
            <button type="submit" class="submit">გამოთვლა</button>
        </div>

    </div>


    </form>
</section>




<!--******************************************************* პასუხების სექცია************************************************* -->
<section class="answers_section">
    <form name="passdata" action="." method="POST">

  
             <div class="answers">პოზიცია Y ღერძზე: <div class="answer_number">{{Y}} {{Dimension}} </div> </div>
             <div class="answers">პოზიცია X ღერძზე: <div class="answer_number">{{X}} {{Dimension}} </div> </div>
    </form>
</section>





<!--******************************************************* ფოტოს ************************************************* -->

<section class="drawing">
    <div>


        <div class="union">  
            <div class="main_header">დეტალურად</div>
        </div>




<!--********************************************** გამოიყენება მაშინ როცა სურათი არის მარცხენა მხარეს  **************************************-->
<!--********************************************** გამოიყენება მაშინ როცა სურათი არის მარცხენა მხარეს  **************************************-->
<!--********************************************** გამოიყენება მაშინ როცა სურათი არის მარცხენა მხარეს  **************************************-->

 



<!--********************************************** გამოიყენება მაშინ როცა სურათი არის ზევით მხარეს  **************************************-->
<!--********************************************** გამოიყენება მაშინ როცა სურათი არის ზევით მხარეს  **************************************-->
<!--********************************************** გამოიყენება მაშინ როცა სურათი არის ზევით მხარეს  **************************************-->




            <div class="div_photo_txt_down">

                     <img class="photo_down" src="/static/images/mechanic/kinematika/fallen/free_fall.jpg" alt="" style="width: 900px; height: 200px;">
                     
                     

                    <div class="main_detail_down">

                                       
                    <!-- ტექსტი -->
                    <div class="detail_txt">
                        იმისთვის, რომ განვსაზღვროთ სხეულის მდებარეობა x და y ღერძებზე დროის ნებისმიერ მომენტში უნდა
                        გავითვალისწინოთ 2 პირობა. 1) თუ მოცემული n წამი ნაკლებია ან ტოლია h სიმაღლემდე ასასვლელად საჭირო დროზე, 
                        რომელიც ამ შემთხვევაში აღნიშნულია <math>
                            <msub>
                             <mi>T</mi>
                             <mn>1</mn>
                            </msub>
                            
                           </math>-ით (<math>
                            <mi>n</mi><mo>&#x2264;</mo><msub>
                             <mi>T</mi>
                             <mn>1</mn>
                            </msub>
                            
                           </math>
                           ),
                           მაშინ იმის გათვალისწინებით, რომ x ღერძზე ეს სხეული  თანაბრად გადაადგილდება, ამ ღერძზე
                           სხეულის მყისი მდებარეობის საპოვნელად უნდა გამოვიყენოთ თანაბარი მოძრაობის დროს მანძილის
                           გამოსათვლელი ფორმულა:
                    </div>
    
    
    
                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block'>
                            <mrow>
                             <msub>
                              <mi>S</mi>
                              <mi>x</mi>
                             </msub>
                             <mo>=</mo><msub>
                              <mi>V</mi>
                              <mrow>
                               <mi>o</mi><mi>x</mi></mrow>
                             </msub>
                             <mi>t</mi><mo>&#x2192;</mo><mfenced class="SKT">
                              <mn>1</mn>
                             </mfenced></mrow>
                           </math>
                           
                    </div>
    
    
    
                        <!-- ტექსტი -->
                    <div class="detail_txt">
                        x და y ღერძებზე საწყისი სიჩქარის გეგმილები (პროექციები) იქნება:
                    </div>
    
    
    
                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block'>
                            <msub>
                            <mi>V</mi>
                            <mrow>
                            <mn>0</mn><mi>x</mi></mrow>
                            </msub>
                            <mo>=</mo><msub>
                            <mi>V</mi>
                            <mn>0</mn>
                            </msub>
                            <mi>cos</mi><mi>&#x03B1;</mi><mo>&#x2192;</mo><mfenced  class="SKT">
                            <mn>2</mn>
                            </mfenced>
                        </math>

                        <math display='block'>
                            <msub>
                            <mi>V</mi>
                            <mrow>
                            <mn>0</mn><mi>y</mi></mrow>
                            </msub>
                            <mo>=</mo><msub>
                            <mi>V</mi>
                            <mn>0</mn>
                            </msub>
                            <mi>sin</mi><mi>&#x03B1;</mi><mo>&#x2192;</mo><mfenced class="SKT">
                            <mn>3</mn>
                            </mfenced>
                        </math>
                        
                    </div>            
    
    
    
                        <!-- ტექსტი -->
                    <div class="detail_txt">
                        თუ პირველ ფორმულაში შევიტანთ <math>
                            <msub>
                             <mi>V</mi>
                             <mrow>
                              <mn>0</mn><mi>x</mi></mrow>
                            </msub>
                            
                           </math>-ის მნიშვნელობას და გავითვალისწინებთ, რომ მოცემულ შემთხვევაში დროს წარმოადგენს 
                           n წამი, x ღერძზე მყისი მდებარეობის საპოვნელი პირველი ფორმულა მიიღებს შემდეგ სახეს:
                           
                    </div>
    
    
    
                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block' class="answer_color">
                            <msub>
                             <mi>S</mi>
                             <mi>x</mi>
                            </msub>
                            <mo>=</mo><mi>n</mi><msub>
                             <mi>V</mi>
                             <mn>0</mn>
                            </msub>
                            <mi>cos</mi><mi>&#x03B1;</mi>
                           </math>
                           
                    </div>
    
    
    
                        <!-- ტექსტი -->
                    <div class="detail_txt">
                        ხოლო y ღერძზე მყისი მდებარეობის საპოვნელად უნდა გავიითვალისწინოთ, რომ სხეული ამ ღერძზე
                        გადაადგილდება თანაბარაჩქარებულად, ამიტომ ამ შემთხვევაში უნდა გამოვიყენოთ თანაბარაჩქარებული
                        მოძრაობის დროს მანძილის გამოსათვლელი ფორმულა:
                    </div>
    
    
    
                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block'>
                            <msub>
                             <mi>S</mi>
                             <mi>y</mi>
                            </msub>
                            <mo>=</mo><msub>
                             <mi>V</mi>
                             <mrow>
                              <mi>o</mi><mi>y</mi></mrow>
                            </msub>
                            <mi>t</mi><mo>&#x2212;</mo><mfrac>
                             <mrow>
                              <mi>g</mi><msup>
                               <mi>t</mi>
                               <mn>2</mn>
                              </msup>
                              </mrow>
                             <mn>2</mn>
                            </mfrac>
                            <mo>&#x2192;</mo><mfenced class="SKT">
                             <mn>4</mn>
                            </mfenced>
                           </math>
                           
                    </div>
    
    
    
                        <!-- ტექსტი -->
                    <div class="detail_txt">
                     მე-(4)-ე ფორმულაში შევიტანოთ <math>
                            <msub>
                             <mi>V</mi>
                             <mrow>
                              <mn>0</mn><mi>y</mi></mrow>
                            </msub>
                            
                           </math>-ის მნიშვნელობა. იმის გათვალისწინებით, რომ  მოძრაობის დრო არის n წამი, ხოლო
                        y ღერძზე სხეულის საწყისი კოორდინატი არის ის საწყისი სიმაღლე,  საიდანაც სხეული გაისროლეს, 
                        y ღერძზე მყისი მდებარეობის გამოსათვლელი მე-(4)-ე ფორმულა გადაიწერება შემდეგნაირად:
                    
                           
                    </div>
    
    
    
                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block' class="answer_color">
                            <msub>
                             <mi>S</mi>
                             <mi>y</mi>
                            </msub>
                            <mo>=</mo><mi>H</mi><mo>+</mo><mi>n</mi><msub>
                             <mi>V</mi>
                             <mn>0</mn>
                            </msub>
                            <mi>sin</mi><mi>&#x03B1;</mi><mo>&#x2212;</mo><mfrac>
                             <mrow>
                              <mi>g</mi><msup>
                               <mi>n</mi>
                               <mn>2</mn>
                              </msup>
                              </mrow>
                             <mn>2</mn>
                            </mfrac>
                            
                           </math>
                           
                    </div>
    
    
    
    
                       
    
    
    
    
                        <!-- ტექსტი -->
                    <div class="detail_txt">
                        2)მეორე შემთხვევაში, როდესაც მოცემული n წამი მეტია h სიმაღლემდე ასასვლელად
                        საჭირო დროზე <math>
                            <msub>
                             <mi>T</mi>
                             <mn>1</mn>
                            </msub>
                            
                           </math>-ზე და ნაკლებია ფრენის სრულ დროზე (<math>
                            <msub>
                             <mi>T</mi>
                             <mn>1</mn>
                            </msub>
                            <mo>&#x003C;</mo><mi>n</mi><mo>&#x003C;</mo><msub>
                             <mi>T</mi>
                             <mrow>
                              <mi>ს</mi><mi>რ</mi></mrow>
                            </msub>
                            
                           </math>
                           ), x ან  y ღერძებზე მყისი მდებარეობების საპოვნელად პირველ რიგში უნდა ვიპოვოთ
                           დროის ის მომენტი, რომელშიც გვაინტერესებს სხეულის მომენტალური მდებარეობა, ამ
                           დროის საპოვნელად მოცემულ n წამს უნდა გამოვაკლოთ ის <math>
                            <msub>
                             <mi>T</mi>
                             <mn>1</mn>
                            </msub>
                            
                           </math>
                           დრო, რომელიც საჭიროა
                           h სიმაღლეზე ასასვლელად:
                    </div>
    
    
    
                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block'>
                            <msub>
                             <mi>t</mi>
                             <mn>1</mn>
                            </msub>
                            <mo>=</mo><mi>n</mi><mo>&#x2212;</mo><msub>
                             <mi>T</mi>
                             <mn>1</mn>
                            </msub>
                            <mo>&#x2192;</mo><mfenced class="SKT">
                             <mn>5</mn>
                            </mfenced>
                           </math>
                           
                    </div>
    
    
    
                        <!-- ტექსტი -->
                    <div class="detail_txt">
                        რადგან x ღერძზე მოძრაობა ყოველთვის თანაბარია, ამ ღერძზე მყისი მდებარეობის საპოვნელად
                        უნდა გამოვიყენოთ ისევ პირველი ფორმულა, თუმცა ამ შემთხვევაში დრო წარმოადგენს <math>
                            <msub>
                             <mi>t</mi>
                             <mn>1</mn>
                            </msub>
                            
                           </math>, შესაბამისად გვექნება:

                           
                    </div>
    
    
    
                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block'>
                            <msub>
                             <mi>S</mi>
                             <mi>x</mi>
                            </msub>
                            <mo>=</mo><msub>
                             <mi>t</mi>
                             <mn>1</mn>
                            </msub>
                            <msub>
                             <mi>V</mi>
                             <mn>0</mn>
                            </msub>
                            <mi>cos</mi><mi>&#x03B1;</mi><mo>&#x2192;</mo><mfenced class="SKT">
                             <mn>6</mn>
                            </mfenced>
                           </math>
                           
                    </div>
    
    
                        <!-- ტექსტი -->
                    <div class="detail_txt">
                        ხოლო თუ მე-(6)-ე ფორმულაში შევიტანთ <math>
                            <msub>
                             <mi>t</mi>
                             <mn>1</mn>
                            </msub>
                            
                           </math>-ის მნიშვნელობას, მივიღებთ:
                           
                    </div>
    
    
    
                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block'>
                            <msub>
                             <mi>S</mi>
                             <mi>x</mi>
                            </msub>
                            <mo>=</mo><mfenced>
                             <mrow>
                              <mi>n</mi><mo>&#x2212;</mo><msub>
                               <mi>T</mi>
                               <mn>1</mn>
                              </msub>
                              </mrow>
                            </mfenced><msub>
                             <mi>V</mi>
                             <mn>0</mn>
                            </msub>
                            <mi>cos</mi><mi>&#x03B1;</mi><mo>&#x2192;</mo><mfenced class="SKT">
                             <mn>7</mn>
                            </mfenced>
                           </math>
                           
                    </div>
    
    
                        <!-- ტექსტი -->
                    <div class="detail_txt">
                        y ღერძზე მყისი მდებარეობის საპოვნელად უნდა გავითვალისწინოთ, რომ მეორე შენთხვევაში 
                        განვიხილავთ დროის იმ მომენტს, როცა სხეული ავიდა h სიმაღლეზე და დაიწყო ამ სიმაღლიდან
                        თავისუფალი ვარდნა, ანუ სხეული ავიდა დედამიწიდან H+h სიმაღლეზე და დაიწყო ამ წერტილიდან
                        თავისუფალი ვარდნა უსაწყისო სიჩქარით (h სიმაღლეზე სხეულის სიჩქარის y მდგენელი ნოლის ტოლია),
                        შესაბამისად y ღერძზე მყისი მდებარეობის საპოვნელად H+h მანძილს უნდა  გამოვაკლოთ ის მანძილი,
                        რომელიც სხეულმა <math>
                            <msub>
                             <mi>t</mi>
                             <mn>1</mn>
                            </msub>
                            
                           </math> დროში გაიარა:
                           
                    </div>
    
    
    
                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block'>
                            <msub>
                             <mi>S</mi>
                             <mi>y</mi>
                            </msub>
                            <mo>=</mo><mi>H</mi><mo>+</mo><mi>h</mi><mo>&#x2212;</mo><mfrac>
                             <mrow>
                              <mi>g</mi><msub>
                               <mi>t</mi>
                               <mn>1</mn>
                              </msub>
                              <msup>
                               <mrow></mrow>
                               <mn>2</mn>
                              </msup>
                              </mrow>
                             <mn>2</mn>
                            </mfrac>
                            <mo>&#x2192;</mo><mfenced class="SKT">
                             <mn>8</mn>
                            </mfenced>
                           </math>
                           
                    </div>
    
    
                        <!-- ტექსტი -->
                    <div class="detail_txt">
                        შევიტანოთ <math>
                            <msub>
                             <mi>t</mi>
                             <mn>1</mn>
                            </msub>
                            
                           </math>-ის მნიშვნელობა მე-(8)-ე ფორმულაში:
                           
                    </div>
    
    
    
                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block'>
                            <msub>
                             <mi>S</mi>
                             <mi>y</mi>
                            </msub>
                            <mo>=</mo><mi>H</mi><mo>+</mo><mi>h</mi><mo>&#x2212;</mo><mfrac>
                             <mrow>
                              <mi>g</mi><msup>
                               <mrow>
                                <mfenced>
                                 <mrow>
                                  <mi>n</mi><mo>&#x2212;</mo><msub>
                                   <mi>T</mi>
                                   <mn>1</mn>
                                  </msub>
                                  </mrow>
                                </mfenced></mrow>
                               <mn>2</mn>
                              </msup>
                              </mrow>
                             <mn>2</mn>
                            </mfrac>
                            <mo>&#x2192;</mo><mfenced class="SKT">
                             <mn>9</mn>
                            </mfenced>
                           </math>
                           
                    </div>
    
    
                        <!-- ტექსტი -->
                    <div class="detail_txt">
                        აუცილებელია ვიპოვოთ ასვლის სიმაღლე-h და h სიმაღლეზე ასვლის დროც. h სიმაღლის საპოვნელად
                        გამოვიყენოთ თანაბარაჩქარებული მოძრაობის დროს მანძილის გამოსათვლელი ფორმულა:
                    </div>
    
    
    
                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block'>
                            <mi>h</mi><mo>=</mo><mfrac>
                             <mrow>
                              <msubsup>
                               <mi>V</mi>
                               <mrow>
                                <mn>0</mn><mi>y</mi></mrow>
                               <mn>2</mn>
                              </msubsup>
                              <mo>&#x2212;</mo><msubsup>
                               <mi>V</mi>
                               <mi>h</mi>
                               <mn>2</mn>
                              </msubsup>
                              </mrow>
                             <mrow>
                              <mn>2</mn><mi>g</mi></mrow>
                            </mfrac>
                            <mo>&#x2192;</mo><mfenced class="SKT">
                             <mn>10</mn>
                            </mfenced>
                           </math>
                           
                    </div>
    
    
                        <!-- ტექსტი -->
                    <div class="detail_txt">
                        <math>
                            <msub>
                             <mi>V</mi>
                             <mrow>
                              <mn>0</mn><mi>y</mi></mrow>
                            </msub>
                            
                           </math>-ის მნიშვნელობის შეტანით მე-(10)-ე ფორმულაში მივიღებთ:
                    </div>
    
    
    
                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block'>
                            <mi>h</mi><mo>=</mo><mfrac>
                             <mrow>
                              <msup>
                               <mrow>
                                <mfenced>
                                 <mrow>
                                  <msub>
                                   <mi>V</mi>
                                   <mn>0</mn>
                                  </msub>
                                  <mi>sin</mi><mi>&#x03B1;</mi></mrow>
                                </mfenced></mrow>
                               <mn>2</mn>
                              </msup>
                              <mo>&#x2212;</mo><msubsup>
                               <mi>V</mi>
                               <mi>h</mi>
                               <mn>2</mn>
                              </msubsup>
                              </mrow>
                             <mrow>
                              <mn>2</mn><mi>g</mi></mrow>
                            </mfrac>
                            <mo>&#x2192;</mo><mfenced class="SKT">
                             <mn>11</mn>
                            </mfenced>
                           </math>
                           
                    </div>

                     <!-- ტექსტი -->
                     <div class="detail_txt">
                        h სიმაღლეზე ასვლისას სხეულის სიჩქარის y მდგენელი ნოლის ტოლია, ამიტომ გასროლის წერტილიდან
                        ასვლის სიმაღლის გამოსათვლელი ფორმულა იქნება:
                    </div>
    
    
    
                        <!-- ფორმულა -->
                    <div class="detail_formula">
                            <math display='block'>
                                <mi>h</mi><mo>=</mo><mfrac>
                                 <mrow>
                                  <msubsup>
                                   <mi>V</mi>
                                   <mn>0</mn>
                                   <mn>2</mn>
                                  </msubsup>
                                  <msup>
                                   <mrow>
                                    <mi>sin</mi></mrow>
                                   <mn>2</mn>
                                  </msup>
                                  <mi>&#x03B1;</mi></mrow>
                                 <mrow>
                                  <mn>2</mn><mi>g</mi></mrow>
                                </mfrac>
                                <mo>&#x2192;</mo><mfenced class="SKT">
                                 <mrow>
                                  <mn>12</mn></mrow>
                                </mfenced>
                               </math>
                               
                           
                    </div>
    
    
                     <!-- ტექსტი -->
                     <div class="detail_txt">
                        აუცილებელია ვიპოვოთ <math >
                            <msub>
                             <mi>T</mi>
                             <mn>1</mn>
                            </msub>
                            
                           </math>, ანუ h სიმაღლეზე ასვლის დრო.რადგან y ღერძზე სხეული თანაბარაჩქარებულად მოძრაობს ასვლის დროის საპოვნელად შეგვიძლია გამოვიყენოთ
                           თანაბარაჩქარებული მოძრაობის დროს მყისი სიჩქარის გამოსათვლელი ფორმულა:
                           
                    </div>
    
    
    
                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block'>
                            <msub>
                             <mi>V</mi>
                             <mi>h</mi>
                            </msub>
                            <mo>=</mo><msub>
                             <mi>V</mi>
                             <mrow>
                              <mn>0</mn><mi>y</mi></mrow>
                            </msub>
                            <mo>&#x2212;</mo><mi>g</mi><msub>
                             <mi>T</mi>
                             <mn>1</mn>
                            </msub>
                            <mo>&#x2192;</mo><mfenced  class="SKT">
                             <mn>13</mn>
                            </mfenced>
                           </math>
                           
                    </div>

                    <!-- ტექსტი -->
                    <div class="detail_txt">
                        თუ გავითვალისწინებთ იმას, რომ გასროლის წერტილიდან მაქსიმალურ h სიმაღლეზე ასვლისას სხეულის
                        სიჩქარის y მდგენელი  ნოლის ტოლია მე-(13)-ე ფორმულა გადაიწერება შემდეგნაირად:
                            </div>



                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block'>
                            <mn>0</mn><mo>=</mo><msub>
                            <mi>V</mi>
                            <mrow>
                            <mn>0</mn><mi>y</mi></mrow>
                            </msub>
                            <mo>&#x2212;</mo><mi>g</mi><msub>
                            <mi>T</mi>
                            <mn>1</mn>
                            </msub>
                            
                        </math>

                        
                        <math display='block'>
                            <msub>
                            <mi>V</mi>
                            <mrow>
                            <mn>0</mn><mi>y</mi></mrow>
                            </msub>
                            <mo>=</mo><mi>g</mi><msub>
                            <mi>T</mi>
                            <mn>1</mn>
                            </msub>
                            <mo>&#x2192;</mo><mfenced class="SKT">
                            <mn>14</mn>
                            </mfenced>
                        </math>
                        
                    </div>




                        <!-- ტექსტი -->
                    <div class="detail_txt">
                        მე-(14)-ე ფორმულიდან კი უკვე მარტივია ასვლის დროის განსაზღვრა:
                    </div>



                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block'>
                            <msub>
                            <mi>T</mi>
                            <mn>1</mn>
                            </msub>
                            <mo>=</mo><mfrac>
                            <mrow>
                            <msub>
                            <mi>V</mi>
                            <mrow>
                                <mn>0</mn><mi>y</mi></mrow>
                            </msub>
                            </mrow>
                            <mi>g</mi>
                            </mfrac>
                            
                        </math>

                        
                        <math display='block'>
                            <msub>
                            <mi>T</mi>
                            <mn>1</mn>
                            </msub>
                            <mo>=</mo><mfrac>
                            <mrow>
                            <msub>
                            <mi>V</mi>
                            <mn>0</mn>
                            </msub>
                            <mi>sin</mi><mi>&#x03B1;</mi></mrow>
                            <mi>g</mi>
                            </mfrac>
                            <mo>&#x2192;</mo><mfenced class="SKT">
                            <mn>15</mn>
                            </mfenced>
                        </math>
                        
                    </div>
    
    
                        <!-- ტექსტი -->
                    <div class="detail_txt">
                    x ღერძზე მყისი მდებარეობის გამოსათვლელად შევიტანოთ მიღებული დრო მე-(7)-ე ფორმულაში:
                    </div>
    
    
    
                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block' class="answer_color">
                            <msub>
                             <mi>S</mi>
                             <mi>x</mi>
                            </msub>
                            <mo>=</mo><mfenced>
                             <mrow>
                              <mi>n</mi><mo>&#x2212;</mo><mfrac>
                               <mrow>
                                <msub>
                                 <mi>V</mi>
                                 <mn>0</mn>
                                </msub>
                                <mi>sin</mi><mi>&#x03B1;</mi></mrow>
                               <mi>g</mi>
                              </mfrac>
                              </mrow>
                            </mfenced><msub>
                             <mi>V</mi>
                             <mn>0</mn>
                            </msub>
                            <mi>cos</mi><mi>&#x03B1;</mi>
                           </math>
                           
                    </div>
    
    
                        <!-- ტექსტი -->
                    <div class="detail_txt">
                        ხოლო y ღერძზე მყისი მდებარეობის გამოსათვლელად მე-(9)-ე ფორმულაში შევიტანოთ h-ის 
                        და <math>
                            <msub>
                             <mi>T</mi>
                             <mn>1</mn>
                            </msub>
                            
                           </math>-ის მნიშვნელობები:
                           
                    </div>
    
    
    
                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block' class="answer_color">
                            <msub>
                             <mi>S</mi>
                             <mi>y</mi>
                            </msub>
                            <mo>=</mo><mi>H</mi><mo>+</mo><mfrac>
                             <mrow>
                              <msubsup>
                               <mi>V</mi>
                               <mn>0</mn>
                               <mn>2</mn>
                              </msubsup>
                              <msup>
                               <mrow>
                                <mi>sin</mi></mrow>
                               <mn>2</mn>
                              </msup>
                              <mi>&#x03B1;</mi></mrow>
                             <mrow>
                              <mn>2</mn><mi>g</mi></mrow>
                            </mfrac>
                            <mo>&#x2212;</mo><mfrac>
                             <mrow>
                              <mi>g</mi><msup>
                               <mrow>
                                <mfenced>
                                 <mrow>
                                  <mi>n</mi><mo>&#x2212;</mo><mfrac>
                                   <mrow>
                                    <msub>
                                     <mi>V</mi>
                                     <mn>0</mn>
                                    </msub>
                                    <mi>sin</mi><mi>&#x03B1;</mi></mrow>
                                   <mi>g</mi>
                                  </mfrac>
                                  </mrow>
                                </mfenced></mrow>
                               <mn>2</mn>
                              </msup>
                              </mrow>
                             <mn>2</mn>
                            </mfrac>
                            
                           </math>
                           
                    </div>

                    <!-- ტექსტი -->
                    <div class="detail_txt">
                        
                    </div>



                        <!-- ფორმულა -->
                    <div class="detail_formula">

                    </div>


                        <!-- ტექსტი -->
                    <div class="detail_txt">

                    </div>



                        <!-- ფორმულა -->
                    <div class="detail_formula">

                    </div>


                        <!-- ტექსტი -->
                    <div class="detail_txt">

                    </div>



                        <!-- ფორმულა -->
                    <div class="detail_formula">

                    </div>



                    
                    </div>




        </div>
    </div>
</section>









<!--******************************************************** სტილების კორექტირებები *******************************************************-->
<!--******************************************************** სტილების კორექტირებები *******************************************************-->
<!--******************************************************** სტილების კორექტირებები *******************************************************-->




            <style>

            a:nth-child(5) {
                width: 90px;
            }       


            nav .start-contact, a:nth-child(5):hover~.animation {
                width: 90px;
                left: 445px;
                background-color: #e67e22;
            }

            .input3 {
                background-color: #303245;
                margin: 10px; 
                border-radius: 10px;
                border: 0;
                box-sizing: border-box;
                color: #eee;
                font-size: 18px;
                height: 50px;
                outline: 0;
                padding: 4px 20px 0;
                width: 210px;
                
            }


            .holder3{
            position: absolute;
            background-color: var(--background_color);
            border-radius: 40px;
            text-align: center;
            font-size: 16px;
            width: 170px;
            height: 25px;
            color: rgb(206, 193, 193);
            font-weight: bold;
            margin-left: 30px;
            bottom: 50px; 
            }


            .input1 {
                background-color: #303245;
                margin: 10px; 
                border-radius: 10px;
                border: 0;
                box-sizing: border-box;
                color: #eee;
                font-size: 18px;
                height: 50px;
                outline: 0;
                padding: 4px 20px 0;
                width: 140px;
                
            }


            .holder1{
            position: absolute;
            background-color: var(--background_color);
            border-radius: 40px;
            text-align: center;
            font-size: 16px;
            width: 100px;
            height: 25px;
            color: rgb(206, 193, 193);
            font-weight: bold;
            margin-left: 30px;
            bottom: 50px; 
            }

            .answers{
                font-size: 24px;
            }
            </style>




{% endblock %}
