{% extends 'base_calc.html' %}



{% block content%}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/calculator.css') }}">



<!--************************************************************* ნავიგაციის სექცია******************************************************* -->

<section class="navigation">
    <nav> 
        <a href="/"> მთავარი </a>
        <a href="/calculator"> დარგები </a>
        <a href="/calculator/mechanic"> მექანიკა </a>
        <a href="/calculator/mechanic/kinematika"> კინემატიკა </a>
        <a href="/calculator/mechanic/kinematika/angle_fall"> ამოცანა </a>

 
        <div class="animation start-home"></div>
    </nav>
</section>


<!--************************************************************* სათაურის სექცია******************************************************* -->
<section class="main_header_secttion"> <div class="main_header">გასროლის კუთხე</div></section>




<!--******************************************************* ინფორმაციისს ტრასფერის სექცია************************************************* -->
<section class="input_variables_section">

    <form name="passdata" action="." method="POST">

    <div class="input_variables">

        <div class="variable_1">
            <input type="number" class="input"  placeholder=" " step="0.001" min=0 value="0" name="initaial_velocity">
              
                <div class="holder">
                    <label for="firstname" class="placeholder_of_inputs" >საწყ.სიჩქარე</label>
                </div>
        </div>

        <div class="variable_2">
            <input type="number" class="input"  placeholder=" " step="0.001" min=0 value="9.8" name="gravity">
            
                <div class="holder">
                     <label for="firstname" class="placeholder_of_inputs" >გრავიტაცია</label>
                </div>
        </div>


        <div class="variable_3">
            <input type="number" class="input"  placeholder=" " step="0.001" min=0 value="0" name="time">
            
                <div class="holder">
                     <label for="firstname" class="placeholder_of_inputs" >ფრენის დრო</label>
                </div>
        </div>


        <div class="variable_4">
            <input type="number" class="input4"  placeholder=" " step="0.001" min=0 value="0" name="selectable">
               
            <div class="holder4">
                
                    <select class="choose" name="select">
                        <option >საბოლოო სიჩქარე</option>
                        <option >ფრენის მანძილი</option>
                        <option >საწყისი სიმაღლე</option>
                    </select>
            
            </div>
        </div>




        <!-- გამზადებულია გამოსაყენებლად -->
        <div class="variable_4">
            
        </div>
       


        <!-- გამზადებულია გამოსაყენებლად -->
        <div class="variable_5">

        </div>






        <!-- გამშვები ბათონი -->
        <div class="submut_button">
            <button type="submit" class="submit">გამოთვლა</button>
        </div>

    </div>


    </form>
</section>




<!--******************************************************* პასუხების სექცია************************************************* -->
<section class="answers_section">
    <form name="passdata" action="." method="POST">

  
             <div class="answers">პასუხი: <div class="answer_number">{{angle}} {{Dimension}} </div> </div>

    </form>
</section>





<!--******************************************************* ფოტოს ************************************************* -->

<section class="drawing">
    <div>


        <div class="union">  
            <div class="main_header">დეტალურად</div>
        </div>




<!--********************************************** გამოიყენება მაშინ როცა სურათი არის მარცხენა მხარეს  **************************************-->
<!--********************************************** გამოიყენება მაშინ როცა სურათი არის მარცხენა მხარეს  **************************************-->
<!--********************************************** გამოიყენება მაშინ როცა სურათი არის მარცხენა მხარეს  **************************************-->

        <div class="div_photo_txt_left">

            
<!---------------------------------------------------- მოკლე ტექსტები და ფოტო---------------------------------------------------- -->
<!---------------------------------------------------- მოკლე ტექსტები და ფოტო---------------------------------------------------- -->
<!---------------------------------------------------- მოკლე ტექსტები და ფოტო---------------------------------------------------- -->

                    <div class="main_detail_left_short">

                        <img class="photo_left" src="/static/images/mechanic/kinematika/fallen/free_fall.jpg" alt="">

                            
                        

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            თუ გვინდა ვიპოვოთ ჩამოსროლის კუთხე საწყისი სიჩქარის, საბოლოო სიჩქარის და ფრენის დროის საშუალებით
                            ჯერ უნდა დავწეროთ სხეულის საბოლოო  სიჩქარის გამოსათვლელი ფორმულა. გასროლილი სხეული 
                            x ღერძზე მოძრაობს თანაბრად, შესაბამისად სხეულის სიჩქარის x მდგენელი არ იცვლება (ანუ მთელი
                            მოძრაობის დროის განმალობაში <math>
                                <msub>
                                 <mi>V</mi>
                                 <mrow>
                                  <mn>0</mn><mi>x</mi></mrow>
                                </msub>
                                <mo>=</mo><msub>
                                 <mi>V</mi>
                                 <mn>0</mn>
                                </msub>
                                <mi>cos</mi><mi>&#x03B1;</mi>
                               </math>-ს) 
                               ხოლო y ღერძზე სხეული მოძრაობს თანაბარაჩქარებულად, ამის გამო სხეულის სიჩქარის 
                               y მდგენელი მუდმივად იცვლება. რადგან სიჩქარის x და y მდგენელები ერთმანეთთან 
                               მართ კუთხეს ადგენენ სრული სიჩქარის საპოვნელად უნდა გამოვიყენოთ პითაგორას თეორემა:

                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">
                            <math display='block'>
                                <mi>V</mi><mo>=</mo><msqrt>
                                 <mrow>
                                  <msubsup>
                                   <mi>V</mi>
                                   <mrow>
                                    <mn>0</mn><mi>x</mi></mrow>
                                   <mn>2</mn>
                                  </msubsup>
                                  <mo>+</mo><msubsup>
                                   <mi>V</mi>
                                   <mi>y</mi>
                                   <mn>2</mn>
                                  </msubsup>
                                  </mrow>
                                </msqrt>
                                <mo>&#x2192;</mo><mfenced class="SKT">
                                 <mn>1</mn>
                                </mfenced>
                               </math>
                               
                               
                        </div>
                        
                        

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            საწყისი სიჩქარის პროექციები (გეგმილები) x და y ღერძებზე იქნება:
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">
                            <math display='block'>
                                <msub>
                                 <mi>V</mi>
                                 <mrow>
                                  <mn>0</mn><mi>x</mi></mrow>
                                </msub>
                                <mo>=</mo><msub>
                                 <mi>V</mi>
                                 <mn>0</mn>
                                </msub>
                                <mi>cos</mi><mi>&#x03B1;</mi><mo>&#x2192;</mo><mfenced class="SKT">
                                 <mn>2</mn>
                                </mfenced>
                               </math>

                               
                               <math display='block'>
                                <msub>
                                 <mi>V</mi>
                                 <mrow>
                                  <mn>0</mn><mi>y</mi></mrow>
                                </msub>
                                <mo>=</mo><msub>
                                 <mi>V</mi>
                                 <mn>0</mn>
                                </msub>
                                <mi>sin</mi><mi>&#x03B1;</mi><mo>&#x2192;</mo><mfenced class="SKT">
                                 <mn>3</mn>
                                </mfenced>
                               </math>
                               
                        </div>
                        
                                                

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            თუ <math >
                                <msub>
                                 <mi>V</mi>
                                 <mrow>
                                  <mn>0</mn><mi>x</mi></mrow>
                                </msub>
                                
                               </math>-ის მნიშვნელობას შევიტანთ პირველ ფორმულაში მივიღებთ:
                               
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">
                            <math display='block'>
                                <mi>V</mi><mo>=</mo><msqrt>
                                 <mrow>
                                  <msubsup>
                                   <mi>V</mi>
                                   <mn>0</mn>
                                   <mn>2</mn>
                                  </msubsup>
                                  <msup>
                                   <mrow>
                                    <mi>cos</mi></mrow>
                                   <mn>2</mn>
                                  </msup>
                                  <mi>&#x03B1;</mi><mo>+</mo><msubsup>
                                   <mi>V</mi>
                                   <mi>y</mi>
                                   <mn>2</mn>
                                  </msubsup>
                                  </mrow>
                                </msqrt>
                                <mo>&#x2192;</mo><mfenced class="SKT">
                                 <mn>4</mn>
                                </mfenced>
                               </math>


                               
                        </div>

                                                

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            მე-(4)-ე ფორმულიდან გამომდინარე თუ გვინდა განვსაზღვროთ სხეულის საბოლოო სრული სიჩქარე აუცილებლად
                            უნდა ვიპოვოთ საბოლოო სიჩქარის y მდგენელი. y ღერძზე საბოლოო სიჩქარის გამოსათვლელად გამოვიყენოთ
                            თანაბარაჩქარებული მოძრაობის დროს მყისი სიჩქარის გამოსათვლელი ფორმულა:
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">
                            <math display='block'>
                                <msub>
                                 <mi>V</mi>
                                 <mi>y</mi>
                                </msub>
                                <mo>=</mo><msub>
                                 <mi>V</mi>
                                 <mrow>
                                  <mn>0</mn><mi>y</mi></mrow>
                                </msub>
                                <mo>+</mo><mi>g</mi><mi>t</mi><mo>&#x2192;</mo><mfenced class="SKT">
                                 <mn>5</mn>
                                </mfenced>
                               </math>
                        </div>

                                                

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">

                        </div>

                                                

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">

                        </div>


                    </div>       
                    
    
<!-------------------------------------------------------- გრძელი ტექსტები ------------------------------------------------------- -->
<!-------------------------------------------------------- გრძელი ტექსტები ------------------------------------------------------- -->
<!-------------------------------------------------------- გრძელი ტექსტები ------------------------------------------------------- -->

                   <div class="main_detail_left_long">



                           
                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            შევიტანოთ მე-(5)-ე ფორმულაში <math>
                                <msub>
                                 <mi>V</mi>
                                 <mrow>
                                  <mn>0</mn><mi>y</mi></mrow>
                                </msub>
                                
                               </math>-ის მნიშვნელობა:
                               
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">
                            <math display='block'>
                                <msub>
                                 <mi>V</mi>
                                 <mi>y</mi>
                                </msub>
                                <mo>=</mo><msub>
                                 <mi>V</mi>
                                 <mn>0</mn>
                                </msub>
                                <mi>sin</mi><mi>&#x03B1;</mi><mo>+</mo><mi>g</mi><mi>t</mi><mo>&#x2192;</mo><mfenced class="SKT">
                                 <mn>6</mn>
                                </mfenced>
                               </math>
                               
                        </div>

    
                            <!-- ტექსტი -->
                            <div class="detail_txt">
                            ხოლო მიღებული <math>
                                <msub>
                                 <mi>V</mi>
                                 <mi>y</mi>
                                </msub>
                                
                               </math>-ის მნიშვნელობა შევიტანოთ საბოლოო სრული სიჩქარის გამოსათვლელ მე-(4)-ე ფორმულაში:
                               
                            </div>
    
    
    
                                <!-- ფორმულა -->
                            <div class="detail_formula">
                                <math display='block'>
                                    <mi>V</mi><mo>=</mo><msqrt>
                                     <mrow>
                                      <msubsup>
                                       <mi>V</mi>
                                       <mn>0</mn>
                                       <mn>2</mn>
                                      </msubsup>
                                      <msup>
                                       <mrow>
                                        <mi>cos</mi></mrow>
                                       <mn>2</mn>
                                      </msup>
                                      <mi>&#x03B1;</mi><mo>+</mo><msup>
                                       <mrow>
                                        <mfenced>
                                         <mrow>
                                          <msub>
                                           <mi>V</mi>
                                           <mn>0</mn>
                                          </msub>
                                          <mi>sin</mi><mi>&#x03B1;</mi><mo>+</mo><mi>g</mi><mi>t</mi></mrow>
                                        </mfenced></mrow>
                                       <mn>2</mn>
                                      </msup>
                                      </mrow>
                                    </msqrt>
                                    <mo>&#x2192;</mo><mfenced class="SKT">
                                     <mrow>
                                      <mn>7</mn></mrow>
                                    </mfenced>
                                   </math>
                                   
                            </div>


                             <!-- ტექსტი -->
                             <div class="detail_txt">
                            ავიყვანოთ ორივე მხარე კვადრატში:
                            </div>
    
    
    
                                <!-- ფორმულა -->
                            <div class="detail_formula">
                                <math display='block'>
                                    <msup>
                                     <mi>V</mi>
                                     <mn>2</mn>
                                    </msup>
                                    <mo>=</mo><msubsup>
                                     <mi>V</mi>
                                     <mn>0</mn>
                                     <mn>2</mn>
                                    </msubsup>
                                    <msup>
                                     <mi>cos</mi>
                                     <mn>2</mn>
                                    </msup>
                                    <mi>&#x03B1;</mi><mo>+</mo><msup>
                                     <mfenced>
                                      <mrow>
                                       <msub>
                                        <mi>V</mi>
                                        <mn>0</mn>
                                       </msub>
                                       <mi>sin</mi><mi>&#x03B1;</mi><mo>+</mo><mi>g</mi><mi>t</mi></mrow>
                                     </mfenced>
                                     <mn>2</mn>
                                    </msup>
                                    
                                   </math>

                                   
                                   <math display='block'>
                                    <msup>
                                     <mi>V</mi>
                                     <mn>2</mn>
                                    </msup>
                                    <mo>=</mo><msubsup>
                                     <mi>V</mi>
                                     <mn>0</mn>
                                     <mn>2</mn>
                                    </msubsup>
                                    <msup>
                                     <mi>cos</mi>
                                     <mn>2</mn>
                                    </msup>
                                    <mi>&#x03B1;</mi><mo>+</mo><msubsup>
                                     <mi>V</mi>
                                     <mn>0</mn>
                                     <mn>2</mn>
                                    </msubsup>
                                    <msup>
                                     <mi>sin</mi>
                                     <mn>2</mn>
                                    </msup>
                                    <mi>&#x03B1;</mi><mo>+</mo><mn>2</mn><msub>
                                     <mi>V</mi>
                                     <mn>0</mn>
                                    </msub>
                                    <mi>sin</mi><mi>&#x03B1;</mi><mi>g</mi><mi>t</mi><mo>+</mo><msup>
                                     <mi>g</mi>
                                     <mn>2</mn>
                                    </msup>
                                    <msup>
                                     <mi>t</mi>
                                     <mn>2</mn>
                                    </msup>
                                    
                                   </math>


                                   <math display='block'>
                                    <msup>
                                     <mi>V</mi>
                                     <mn>2</mn>
                                    </msup>
                                    <mo>=</mo><msubsup>
                                     <mi>V</mi>
                                     <mn>0</mn>
                                     <mn>2</mn>
                                    </msubsup>
                                    <mfenced>
                                     <mrow>
                                      <msup>
                                       <mrow>
                                        <mi>cos</mi></mrow>
                                       <mn>2</mn>
                                      </msup>
                                      <mi>&#x03B1;</mi><mo>+</mo><msup>
                                       <mrow>
                                        <mi>sin</mi></mrow>
                                       <mn>2</mn>
                                      </msup>
                                      <mi>&#x03B1;</mi></mrow>
                                    </mfenced><mo>+</mo><mn>2</mn><msub>
                                     <mi>V</mi>
                                     <mn>0</mn>
                                    </msub>
                                    <mi>sin</mi><mi>&#x03B1;</mi><mi>g</mi><mi>t</mi><mo>+</mo><msup>
                                     <mi>g</mi>
                                     <mn>2</mn>
                                    </msup>
                                    <msup>
                                     <mi>t</mi>
                                     <mn>2</mn>
                                    </msup>
                                    
                                   </math>

                                   <math display='block'>
                                    <msup>
                                     <mi>cos</mi>
                                     <mn>2</mn>
                                    </msup>
                                    <mi>&#x03B1;</mi><mo>+</mo><msup>
                                     <mi>sin</mi>
                                     <mn>2</mn>
                                    </msup>
                                    <mi>&#x03B1;</mi><mo>=</mo><mn>1</mn>
                                   </math>

                                   
                                   <math display='block'>
                                    <msup>
                                     <mi>V</mi>
                                     <mn>2</mn>
                                    </msup>
                                    <mo>=</mo><msubsup>
                                     <mi>V</mi>
                                     <mn>0</mn>
                                     <mn>2</mn>
                                    </msubsup>
                                    <mo>+</mo><mn>2</mn><msub>
                                     <mi>V</mi>
                                     <mn>0</mn>
                                    </msub>
                                    <mi>sin</mi><mi>&#x03B1;</mi><mi>g</mi><mi>t</mi><mo>+</mo><msup>
                                     <mi>g</mi>
                                     <mn>2</mn>
                                    </msup>
                                    <msup>
                                     <mi>t</mi>
                                     <mn>2</mn>
                                    </msup>
                                    <mo>&#x2192;</mo><mfenced class="SKT">
                                     <mn>8</mn>
                                    </mfenced>
                                   </math>
                                   

                                   



                            </div>




                            
                        
                        

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            მე-(8)-ე ფორმულიდან გამოვსახოთ <math>
                                <mi>sin</mi><mi>&#x03B1;</mi>
                               </math>:
                               
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">
                            <math display='block'>
                                <mn>2</mn><msub>
                                 <mi>V</mi>
                                 <mn>0</mn>
                                </msub>
                                <mi>sin</mi><mi>&#x03B1;</mi><mi>g</mi><mi>t</mi><mo>=</mo><msup>
                                 <mi>V</mi>
                                 <mn>2</mn>
                                </msup>
                                <mo>&#x2212;</mo><msubsup>
                                 <mi>V</mi>
                                 <mn>0</mn>
                                 <mn>2</mn>
                                </msubsup>
                                <mo>&#x2212;</mo><msup>
                                 <mi>g</mi>
                                 <mn>2</mn>
                                </msup>
                                <msup>
                                 <mi>t</mi>
                                 <mn>2</mn>
                                </msup>
                                
                               </math>

                               
                               <math display='block'>
                                <mi>sin</mi><mi>&#x03B1;</mi><mo>=</mo><mfrac>
                                 <mrow>
                                  <msup>
                                   <mi>V</mi>
                                   <mn>2</mn>
                                  </msup>
                                  <mo>&#x2212;</mo><msubsup>
                                   <mi>V</mi>
                                   <mn>0</mn>
                                   <mn>2</mn>
                                  </msubsup>
                                  <mo>&#x2212;</mo><msup>
                                   <mi>g</mi>
                                   <mn>2</mn>
                                  </msup>
                                  <msup>
                                   <mi>t</mi>
                                   <mn>2</mn>
                                  </msup>
                                  </mrow>
                                 <mrow>
                                  <mn>2</mn><msub>
                                   <mi>V</mi>
                                   <mn>0</mn>
                                  </msub>
                                  <mi>g</mi><mi>t</mi></mrow>
                                </mfrac>
                                
                               </math>
                               
                        </div>
                        
                                                

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            <math>
                                <mi>sin</mi><mi>&#x03B1;</mi>
                               </math>-ს მიღებული მნიშვნელობიდან კი უკვე მარტივია ჩამოსროლის
                               კუთხის განსაზღვრა:
                               
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">
                            <math display='block' class="answer_color">
                                <mi>&#x03B1;</mi><mo>=</mo><mi>arcsin</mi><mfenced>
                                 <mrow>
                                  <mfrac>
                                   <mrow>
                                    <msup>
                                     <mi>V</mi>
                                     <mn>2</mn>
                                    </msup>
                                    <mo>&#x2212;</mo><msubsup>
                                     <mi>V</mi>
                                     <mn>0</mn>
                                     <mn>2</mn>
                                    </msubsup>
                                    <mo>&#x2212;</mo><msup>
                                     <mi>g</mi>
                                     <mn>2</mn>
                                    </msup>
                                    <msup>
                                     <mi>t</mi>
                                     <mn>2</mn>
                                    </msup>
                                    </mrow>
                                   <mrow>
                                    <mn>2</mn><msub>
                                     <mi>V</mi>
                                     <mn>0</mn>
                                    </msub>
                                    <mi>g</mi><mi>t</mi></mrow>
                                  </mfrac>
                                  </mrow>
                                </mfenced>
                               </math>
                               
                        </div>

                                                

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            ჩამოსროლის კუთხის პოვნა შეგვიძლია ასევე საწყისი სიჩქარის, ფრენის დროის და ფრენის მანძილის 
                            საშუალებითაც. ამისთვის დაგვჭირდება x ღერძზე გავლილი მანძილის (ანუ ფრენის
                            მანძილის) გამოსათვლელი ფორმულა. რადგან x ღერძის გასწვრივ სხეული თანაბრად გადაადგილდება
                            ფრენის სიშორის (ფრენის მანძილის) გამოსათვლელად უნდა გამოვიყენოთ თანაბარი მოძრაობის დროს  მანძილის
                            გამოსათვლელი ფორმულა:
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">
                            <math display='block'>
                                <mrow>
                                 <mi>S</mi><mo>=</mo><msub>
                                  <mi>V</mi>
                                  <mrow>
                                   <mn>0</mn><mi>x</mi></mrow>
                                 </msub>
                                 <mi>t</mi><mo>&#x2192;</mo><mfenced class="SKT">
                                  <mn>9</mn>
                                 </mfenced></mrow>
                               </math>
                        </div>

                                                

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            შევიტანოთ <math>
                                <msub>
                                 <mi>V</mi>
                                 <mrow>
                                  <mn>0</mn><mi>x</mi></mrow>
                                </msub>
                                
                               </math>-ის მნიშვნელობა მე-(9)-ე ფორმულაში:
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">
                            <math display='block'>
                                <mi>S</mi><mo>=</mo><msub>
                                 <mi>V</mi>
                                 <mn>0</mn>
                                </msub>
                                <mi>cos</mi><mi>&#x03B1;</mi><mi>t</mi><mo>&#x2192;</mo><mfenced class="SKT">
                                 <mn>10</mn>
                                </mfenced>
                               </math>
                        </div>

                                                

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                           მე-(10)-ე ფორმულიდან გამოვსახოთ <math>
                            <mi>cos</mi><mi>&#x03B1;</mi>
                           </math>:
                            
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">
                            <math display='block'>
                                <mi>cos</mi><mi>&#x03B1;</mi><mo>=</mo><mfrac>
                                 <mi>S</mi>
                                 <mrow>
                                  <msub>
                                   <mi>V</mi>
                                   <mn>0</mn>
                                  </msub>
                                  <mi>t</mi></mrow>
                                </mfrac>
                                <mo>&#x2192;</mo><mfenced class="SKT">
                                 <mrow>
                                  <mn>11</mn></mrow>
                                </mfenced>
                               </math>
                               
                        </div>

                        <!-- ტექსტი -->
                        <div class="detail_txt">
                            მე-(11)-ე ფორმულიდან კი უკვე მარტივია ჩამოსროლის კუთხის განსაზღვრა:
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">
                            <math display='block' class="answer_color">
                                <mi>&#x03B1;</mi><mo>=</mo><mi>arccos</mi><mfenced>
                                 <mrow>
                                  <mfrac>
                                   <mi>S</mi>
                                   <mrow>
                                    <msub>
                                     <mi>V</mi>
                                     <mn>0</mn>
                                    </msub>
                                    <mi>t</mi></mrow>
                                  </mfrac>
                                  </mrow>
                                </mfenced>
                               </math>
                               
                        </div>
                        
                                                

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            ჩამოსროლის კუთხის შეგვიძლია ვიპოვოთ მაშინაც, როდესაც ვიცით საწყისი სიჩქარე, ფრენის დრო
                            და საწყისი სიმაღლე. ამისთვის უნდა გამოვიყენოთ საწყისი სიმაღლის გამოსათვლელი ფორმულა.
                            y ღერძზე ამ სხეული მიერ გავლილი მანძილი ტოლია იმ საწყისი სიმაღლისა, საიდანაც სხეული
                            ჩამოისროლეს. y ღერძზე მოძრაობა თანაბარაჩქარებულია, ამიტომაც H-ის გამოსათვლელად
                            გამოვიყენოთ თანაბარაჩარებული მოძრაობის დროს გავლილი მანძილის გამოსათვლელი ფორმულა:
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">
                            <math display='block'>
                                <mi>H</mi><mo>=</mo><msub>
                                 <mi>V</mi>
                                 <mrow>
                                  <mn>0</mn><mi>y</mi></mrow>
                                </msub>
                                <mi>t</mi><mo>+</mo><mfrac>
                                 <mrow>
                                  <mi>g</mi><msup>
                                   <mi>t</mi>
                                   <mn>2</mn>
                                  </msup>
                                  </mrow>
                                 <mn>2</mn>
                                </mfrac>
                                <mo>&#x2192;</mo><mfenced class="SKT">
                                 <mn>12</mn>
                                </mfenced>
                               </math>
                               
                        </div>

                                                

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            შევიტანოთ <math >
                                <msub>
                                 <mi>V</mi>
                                 <mrow>
                                  <mn>0</mn><mi>y</mi></mrow>
                                </msub>
                                
                               </math>-ის მნიშვნელობა მე-(12)-ე ფორმულაში:
                               
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">
                            <math display='block'>
                                <mi>H</mi><mo>=</mo><msub>
                                 <mi>V</mi>
                                 <mn>0</mn>
                                </msub>
                                <mi>sin</mi><mi>&#x03B1;</mi><mi>t</mi><mo>+</mo><mfrac>
                                 <mrow>
                                  <mi>g</mi><msup>
                                   <mi>t</mi>
                                   <mn>2</mn>
                                  </msup>
                                  </mrow>
                                 <mn>2</mn>
                                </mfrac>
                                <mo>&#x2192;</mo><mfenced class="SKT">
                                 <mn>13</mn>
                                </mfenced>
                               </math>
                               
                        </div>

                                                

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            მე-(13)-ე ფორმულიდან გამოვსახოთ <math>
                                <mrow>
                                 <mi>sin</mi><mi>&#x03B1;</mi></mrow>
                               </math>:
                               
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">
                            <math display='block'>
                                <mn>2</mn><mi>H</mi><mo>=</mo><mn>2</mn><msub>
                                 <mi>V</mi>
                                 <mn>0</mn>
                                </msub>
                                <mi>sin</mi><mi>&#x03B1;</mi><mi>t</mi><mo>+</mo><mi>g</mi><msup>
                                 <mi>t</mi>
                                 <mn>2</mn>
                                </msup>
                                
                               </math>

                               
                               <math display='block'>
                                <mi>sin</mi><mi>&#x03B1;</mi><mo>=</mo><mfrac>
                                 <mrow>
                                  <mn>2</mn><mi>H</mi><mo>&#x2212;</mo><mi>g</mi><msup>
                                   <mi>t</mi>
                                   <mn>2</mn>
                                  </msup>
                                  </mrow>
                                 <mrow>
                                  <mn>2</mn><msub>
                                   <mi>V</mi>
                                   <mn>0</mn>
                                  </msub>
                                  <mi>t</mi></mrow>
                                </mfrac>
                                
                               </math>
                               
                        </div>

                                                

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            ხოლო <math>
                                <mi>sin</mi><mi>&#x03B1;</mi>
                               </math>-ს მიღებული მნიშვნელობიდან მარტივია ჩამოსროლის კუთხის განსაზღვრა:
                               
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">
                            <math display='block' class="answer_color">
                                <mi>&#x03B1;</mi><mo>=</mo><mi>arcsin</mi><mfenced>
                                 <mrow>
                                  <mfrac>
                                   <mrow>
                                    <mn>2</mn><mi>H</mi><mo>&#x2212;</mo><mi>g</mi><msup>
                                     <mi>t</mi>
                                     <mn>2</mn>
                                    </msup>
                                    </mrow>
                                   <mrow>
                                    <mn>2</mn><msub>
                                     <mi>V</mi>
                                     <mn>0</mn>
                                    </msub>
                                    <mi>t</mi></mrow>
                                  </mfrac>
                                  </mrow>
                                </mfenced>
                               </math>
                               
                        </div>

                         <!-- ტექსტი -->
                        <div class="detail_txt">
                            
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">

                        </div>

                                                

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">

                        </div>

                                                

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">

                        </div>

                                                

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">

                        </div>

                </div>  
            </div>
        </div>
</section>








<!--******************************************************** სტილების კორექტირებები *******************************************************-->
<!--******************************************************** სტილების კორექტირებები *******************************************************-->
<!--******************************************************** სტილების კორექტირებები *******************************************************-->




            <style>

            a:nth-child(5) {
                width: 90px;
            }       


            nav .start-contact, a:nth-child(5):hover~.animation {
                width: 90px;
                left: 445px;
                background-color: #e67e22;
            }



            .input4 {
                background-color: #303245;
                margin: 10px; 
                border-radius: 10px;
                border: 0;
                box-sizing: border-box;
                color: #eee;
                font-size: 18px;
                height: 50px;
                outline: 0;
                padding: 4px 20px 0;
                width: 220px;
                
            }


            .holder4{
            position: absolute;
            background-color: var(--background_color);
            border-radius: 40px;
            text-align: center;
            font-size: 16px;
            width: 180px;
            height: 25px;
            color: rgb(206, 193, 193);
            font-weight: bold;
            margin-left: 30px;
            bottom: 50px; 
            }


            </style>




{% endblock %}
