{% extends 'base_calc.html' %}



{% block content%}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/calculator.css') }}">



<!--************************************************************* ნავიგაციის სექცია******************************************************* -->

<section class="navigation">
    <nav> 
        <a href="/"> მთავარი </a>
        <a href="/calculator"> დარგები </a>
        <a href="/calculator/mechanic"> მექანიკა </a>
        <a href="/calculator/mechanic/kinematika"> კინემატიკა </a>
        <a href="/calculator/mechanic/kinematika/angle_fall">ამოცანა </a>

 
        <div class="animation start-home"></div>
    </nav>
</section>


<!--************************************************************* სათაურის სექცია******************************************************* -->
<section class="main_header_secttion"> <div class="main_header">ფრენის დრო</div></section>




<!--******************************************************* ინფორმაციისს ტრასფერის სექცია************************************************* -->
<section class="input_variables_section">

    <form name="passdata" action="." method="POST">

        <div class="input_variables">

            <div class="variable_1">
                <input type="number" class="input1"  placeholder=" " step="0.001" min=0 value="0" name="angle">
                  
                    <div class="holder1">
                        <label for="firstname" class="placeholder_of_inputs" >კუთხე</label>
                    </div>
            </div>
    
            <div class="variable_2">
                <input type="number" class="input"  placeholder=" " step="0.001" min=0 value="0" name="initial_height">
                  
                    <div class="holder">
                        <label for="firstname" class="placeholder_of_inputs" >საწყ.სიმაღლე</label>
                    </div>
            </div>
    
    
            <div class="variable_3">
                <input type="number" class="input"  placeholder=" " step="0.001" min=0 value="9.8" name="gravity">
                
                    <div class="holder">
                         <label for="firstname" class="placeholder_of_inputs" >გრავიტაცია</label>
                    </div>
            </div>
    
    
            <div class="variable_4">
                <input type="number" class="input"  placeholder=" " step="0.001" min=0 value="0" name="initial_speed">
                   
                <div class="holder">
                    
                    <label for="firstname" class="placeholder_of_inputs" >საწყ.სიჩქარე</label>
                
                </div>
            </div>
    
    
    
            <!-- გამზადებულია გამოსაყენებლად -->
            <div class="variable_4">
                
            </div>
           
    
    
            <!-- გამზადებულია გამოსაყენებლად -->
            <div class="variable_5">
    
            </div>
    
    
    
    
    
    
            <!-- გამშვები ბათონი -->
            <div class="submut_button">
                <button type="submit" class="submit">გამოთვლა</button>
            </div>
    
        </div>


    </form>
</section>




<!--******************************************************* პასუხების სექცია************************************************* -->
<section class="answers_section">
    <form name="passdata" action="." method="POST">

  
             <div class="answers">პასუხი: <div class="answer_number">{{time}} {{Dimension}} </div> </div>

    </form>
</section>





<!--******************************************************* ფოტოს ************************************************* -->
<section class="drawing">
    <div>


        <div class="union">  
            <div class="main_header">დეტალურად</div>
        </div>




<!--********************************************** გამოიყენება მაშინ როცა სურათი არის მარცხენა მხარეს  **************************************-->
<!--********************************************** გამოიყენება მაშინ როცა სურათი არის მარცხენა მხარეს  **************************************-->
<!--********************************************** გამოიყენება მაშინ როცა სურათი არის მარცხენა მხარეს  **************************************-->

        <div class="div_photo_txt_left">

            
<!---------------------------------------------------- მოკლე ტექსტები და ფოტო---------------------------------------------------- -->
<!---------------------------------------------------- მოკლე ტექსტები და ფოტო---------------------------------------------------- -->
<!---------------------------------------------------- მოკლე ტექსტები და ფოტო---------------------------------------------------- -->

                    <div class="main_detail_left_short">

                        <img class="photo_left" src="/static/images/mechanic/kinematika/fallen/free_fall.jpg" alt="">

                            
                        

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                        ფრენის დროის პოვნა შეგვიძლია საწყისი სიმაღლის საშუალებით. y ღერძზე ამ სხეულის მიერ გავლილი 
                        მანძილი ტოლია იმ საწყისი სიმაღლისა, საიდანაც სხეული
                        ჩამოისროლეს. y ღერძზე მოძრაობა თანაბარაჩქარებულია, ამიტომაც H-ის გამოსათვლელად
                        გამოვიყენოთ თანაბარაჩარებული მოძრაობის დროს გავლილი მანძილის გამოსათვლელი ფორმულა:



                            <!-- ფორმულა -->
                        <div class="detail_formula">
                            <math display='block'>
                                <mrow>
                                 <mi>H</mi><mo>=</mo><msub>
                                  <mi>V</mi>
                                  <mrow>
                                   <mn>0</mn><mi>y</mi></mrow>
                                 </msub>
                                 <mi>t</mi><mo>+</mo><mfrac>
                                  <mrow>
                                   <mi>g</mi><msup>
                                    <mi>t</mi>
                                    <mn>2</mn>
                                   </msup>
                                   </mrow>
                                  <mn>2</mn>
                                 </mfrac>
                                 <mo>&#x2192;</mo><mfenced class="SKT">
                                  <mn>1</mn>
                                 </mfenced></mrow>
                               </math>
                               
                        </div>
                        
                        

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            საწყისი სიჩქარის პროექციები (გეგმილები) x და y ღერძებზე იქნება:
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">
                            <math display='block'>
                                <msub>
                                 <mi>V</mi>
                                 <mrow>
                                  <mn>0</mn><mi>x</mi></mrow>
                                </msub>
                                <mo>=</mo><msub>
                                 <mi>V</mi>
                                 <mn>0</mn>
                                </msub>
                                <mi>cos</mi><mi>&#x03B1;</mi><mo>&#x2192;</mo><mfenced class="SKT">
                                 <mn>2</mn>
                                </mfenced>
                               </math>

                               <math display='block'>
                                <msub>
                                 <mi>V</mi>
                                 <mrow>
                                  <mn>0</mn><mi>y</mi></mrow>
                                </msub>
                                <mo>=</mo><msub>
                                 <mi>V</mi>
                                 <mn>0</mn>
                                </msub>
                                <mi>sin</mi><mi>&#x03B1;</mi><mo>&#x2192;</mo><mfenced class="SKT">
                                 <mn>3</mn>
                                </mfenced>
                               </math>
                               
                        </div>
                        
                                                

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            შევიტანოთ <math >
                                <msub>
                                 <mi>V</mi>
                                 <mrow>
                                  <mn>0</mn><mi>y</mi></mrow>
                                </msub>
                                
                               </math>-ის მნიშვნელობა პირველ ფორმულაში:
                               
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">
                            <math display='block'>
                                <mi>H</mi><mo>=</mo><msub>
                                 <mi>V</mi>
                                 <mn>0</mn>
                                </msub>
                                <mi>sin</mi><mi>&#x03B1;</mi><mi>t</mi><mo>+</mo><mfrac>
                                 <mrow>
                                  <mi>g</mi><msup>
                                   <mi>t</mi>
                                   <mn>2</mn>
                                  </msup>
                                  </mrow>
                                 <mn>2</mn>
                                </mfrac>
                                <mo>&#x2192;</mo><mfenced class="SKT">
                                 <mn>4</mn>
                                </mfenced>
                               </math>
                               
                        </div>

                                                

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            საწყისი სიმაღლის მე-(4)-ე გამოსახულებიდან უკვე მარტივია სრული დროის გამოთვლა,
                            მარტივი მათემატიკური გარდაქმნებით ვიღებთ კვადრატულ განტოლებას, რომელიც უნდა 
                            ამოვხსნათ t-ს მიმართ (ანუ ამ განტოლებაში საძიებელ უცნობს სწორედ სრული დრო 
                            წარმოადგენს):
                        
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">
                            <math display='block'>
                                <mi>g</mi><msup>
                                 <mi>t</mi>
                                 <mn>2</mn>
                                </msup>
                                <mo>+</mo><mn>2</mn><msub>
                                 <mi>V</mi>
                                 <mn>0</mn>
                                </msub>
                                <mi>sin</mi><mi>&#x03B1;</mi><mi>t</mi><mo>&#x2212;</mo><mn>2</mn><mi>H</mi><mo>=</mo><mn>0</mn><mo>&#x2192;</mo><mfenced class="SKT">
                                 <mn>5</mn>
                                </mfenced>
                               </math>
                        </div>

                                                

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">

                        </div>

                                                

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">

                        </div>


                    </div>

            </div>

                    
    
<!-------------------------------------------------------- გრძელი ტექსტები ------------------------------------------------------- -->
<!-------------------------------------------------------- გრძელი ტექსტები ------------------------------------------------------- -->
<!-------------------------------------------------------- გრძელი ტექსტები ------------------------------------------------------- -->

                   <div class="main_detail_left_long">


                        
                        
                    <div class="detail_txt">
                        გავიხსენოთ თუ როგორ უნდა ამოვხსნათ კვადრატული განტოლება და როგორ ვიპოვოთ მისი ფესვები:
                    </div>



                    <div class="detail_formula">

                        <math display='block'>
                            <mi>a</mi><msup>
                             <mi>x</mi>
                             <mn>2</mn>
                            </msup>
                            <mo>+</mo><mi>b</mi><mi>x</mi><mo>+</mo><mi>c</mi><mo>=</mo><mn>0</mn>
                           </math>
                           
                           
                           <math display='block'> 
                            <mi>x</mi><mo>=</mo><mfrac>
                             <mrow>
                              <mo>&#x2212;</mo><mi>b</mi><mo>&#x00B1;</mo><msqrt>
                               <mrow>
                                <msup>
                                 <mi>b</mi>
                                 <mn>2</mn>
                                </msup>
                                <mo>&#x2212;</mo><mn>4</mn><mi>a</mi><mi>c</mi></mrow>
                              </msqrt>
                              </mrow>
                             <mrow>
                              <mn>2</mn><mi>a</mi></mrow>
                            </mfrac>
                            
                           </math>


                    </div>

                    <div class="detail_txt" style="margin-top: 60px;">
                        კვადრატული განტოლების ეს ზოგადი სახე დავაკავშიროთ ჩვენს მიერ მიღებულ მე-(5)-ე განტოლებასთან მე-(6)-ე 
                        მოცემულობის მიხედვით:
                    </div>



                    <div class="detail_formula">

                        <math display='block'>
                            <mfenced>
                             <mtable columnalign='left'>
                              <mtr>
                               <mtd>
                                <mi>a</mi><mo>=</mo><mi>g</mi>
                               </mtd>
                              </mtr>
                              <mtr>
                               <mtd>
                                <mi>b</mi><mo>=</mo><mn>2</mn><msub>
                                 <mi>V</mi>
                                 <mn>0</mn>
                                </msub>
                                <mi>sin</mi><mi>&#x03B1;</mi>
                               </mtd>
                              </mtr>
                              <mtr>
                               <mtd>
                                <mi>c</mi><mo>=</mo><mo>&#x2212;</mo><mn>2</mn><mi>H</mi>
                               </mtd>
                              </mtr>
                              <mtr>
                               <mtd>
                                <mi>x</mi><mo>=</mo><mi>t</mi>
                               </mtd>
                              </mtr>
                             </mtable>
                             
                            </mfenced><mo>&#x2192;</mo><mfenced class="SKT">
                             <mn>6</mn>
                            </mfenced>
                           </math>
                           
                    </div>





       

                        <!-- ტექსტი -->
                    <div class="detail_txt">
                        თუ ამოვხსნით მე-(5)-ე განტოლებას t-ს მიმართ განტოლების ფესვები იქნება:
                    </div>



                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block'>
                            <msub>
                             <mi>t</mi>
                             <mn>1</mn>
                            </msub>
                            <mo>=</mo><mfrac>
                             <mrow>
                              <mo>&#x2212;</mo><mn>2</mn><msub>
                               <mi>V</mi>
                               <mn>0</mn>
                              </msub>
                              <mi>sin</mi><mi>&#x03B1;</mi><mo>+</mo><msqrt>
                               <mrow>
                                <mn>4</mn><msubsup>
                                 <mi>V</mi>
                                 <mn>0</mn>
                                 <mn>2</mn>
                                </msubsup>
                                <msup>
                                 <mrow>
                                  <mi>sin</mi></mrow>
                                 <mn>2</mn>
                                </msup>
                                <mi>&#x03B1;</mi><mo>+</mo><mn>8</mn><mi>g</mi><mi>H</mi></mrow>
                              </msqrt>
                              </mrow>
                             <mrow>
                              <mn>2</mn><mi>g</mi></mrow>
                            </mfrac>
                            
                           </math>

                           
                           <math display='block'>
                            <msub>
                             <mi>t</mi>
                             <mn>2</mn>
                            </msub>
                            <mo>=</mo><mfrac>
                             <mrow>
                              <mo>&#x2212;</mo><mn>2</mn><msub>
                               <mi>V</mi>
                               <mn>0</mn>
                              </msub>
                              <mi>sin</mi><mi>&#x03B1;</mi><mo>&#x2212;</mo><msqrt>
                               <mrow>
                                <mn>4</mn><msubsup>
                                 <mi>V</mi>
                                 <mn>0</mn>
                                 <mn>2</mn>
                                </msubsup>
                                <msup>
                                 <mrow>
                                  <mi>sin</mi></mrow>
                                 <mn>2</mn>
                                </msup>
                                <mi>&#x03B1;</mi><mo>+</mo><mn>8</mn><mi>g</mi><mi>H</mi></mrow>
                              </msqrt>
                              </mrow>
                             <mrow>
                              <mn>2</mn><mi>g</mi></mrow>
                            </mfrac>
                            
                           </math>
                           
                    </div>

                                            

                        <!-- ტექსტი -->
                    <div class="detail_txt">
                        ამ ორი ფესვიდან განტოლების ამონახსნს წარმოადგენს მხოლოდ <math>
                            <msub>
                             <mi>t</mi>
                             <mn>1</mn>
                            </msub>
                            
                           </math> (ანუ პირველი ფესვი),
                           
                           მეორე  ფესვი-<math>
                            <msub>
                             <mi>t</mi>
                             <mn>2</mn>
                            </msub>
                            
                           </math> კი უარყოფითია და ის არ შეიძლება იყოს ამონახსნი, რადგან დრო ვერ იქნება უარყოფითი სიდიდე
                           
                           
                    </div>



                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block'>
                            <msqrt>
                             <mrow>
                              <mn>4</mn><msubsup>
                               <mi>V</mi>
                               <mn>0</mn>
                               <mn>2</mn>
                              </msubsup>
                              <msup>
                               <mrow>
                                <mi>sin</mi></mrow>
                               <mn>2</mn>
                              </msup>
                              <mi>&#x03B1;</mi><mo>+</mo><mn>8</mn><mi>g</mi><mi>H</mi></mrow>
                            </msqrt>
                            <mo>&#x003E;</mo><mo>&#x2212;</mo><mn>2</mn><msub>
                             <mi>V</mi>
                             <mn>0</mn>
                            </msub>
                            <mi>sin</mi><mi>&#x03B1;</mi><mo>&#x2192;</mo><mfenced class="SKT">
                             <mn>7</mn>
                            </mfenced>
                           </math>
                           
                    </div>

                                            

                        <!-- ტექსტი -->
                    <div class="detail_txt">
                        ანუ ამ განტოლების ამონახსნი არის მხოლოდ <math>
                            <msub>
                             <mi>t</mi>
                             <mn>1</mn>
                            </msub>
                            
                           </math>, სწორედ ეს არის ის საძიებელი სრული დრო, რომელიც საჭიროა H სიმაღლის გასავლელად:
                           
                    </div>



                        <!-- ფორმულა -->
                    <div class="detail_formula">
                        <math display='block'>
                            <msub>
                             <mi>t</mi>
                             <mn>1</mn>
                            </msub>
                            <mo>=</mo><mfrac>
                             <mrow>
                              <mo>&#x2212;</mo><mn>2</mn><msub>
                               <mi>V</mi>
                               <mn>0</mn>
                              </msub>
                              <mi>sin</mi><mi>&#x03B1;</mi><mo>+</mo><msqrt>
                               <mrow>
                                <mn>4</mn><mfenced>
                                 <mrow>
                                  <msubsup>
                                   <mi>V</mi>
                                   <mn>0</mn>
                                   <mn>2</mn>
                                  </msubsup>
                                  <msup>
                                   <mrow>
                                    <mi>sin</mi></mrow>
                                   <mn>2</mn>
                                  </msup>
                                  <mi>&#x03B1;</mi><mo>+</mo><mn>2</mn><mi>g</mi><mi>H</mi></mrow>
                                </mfenced></mrow>
                              </msqrt>
                              </mrow>
                             <mrow>
                              <mn>2</mn><mi>g</mi></mrow>
                            </mfrac>
                            
                           </math>

                           

                           <math display='block'>
                            <msub>
                             <mi>t</mi>
                             <mn>1</mn>
                            </msub>
                            <mo>=</mo><mfrac>
                             <mrow>
                              <mo>&#x2212;</mo><mn>2</mn><msub>
                               <mi>V</mi>
                               <mn>0</mn>
                              </msub>
                              <mi>sin</mi><mi>&#x03B1;</mi><mo>+</mo><mn>2</mn><msqrt>
                               <mrow>
                                <mfenced>
                                 <mrow>
                                  <msubsup>
                                   <mi>V</mi>
                                   <mn>0</mn>
                                   <mn>2</mn>
                                  </msubsup>
                                  <msup>
                                   <mrow>
                                    <mi>sin</mi></mrow>
                                   <mn>2</mn>
                                  </msup>
                                  <mi>&#x03B1;</mi><mo>+</mo><mn>2</mn><mi>g</mi><mi>H</mi></mrow>
                                </mfenced></mrow>
                              </msqrt>
                              </mrow>
                             <mrow>
                              <mn>2</mn><mi>g</mi></mrow>
                            </mfrac>
                            
                           </math>


                           <math display='block' class="answer_color">
                            <msub>
                             <mi>t</mi>
                             <mn>1</mn>
                            </msub>
                            <mo>=</mo><mfrac>
                             <mrow>
                              <mo>&#x2212;</mo><msub>
                               <mi>V</mi>
                               <mn>0</mn>
                              </msub>
                              <mi>sin</mi><mi>&#x03B1;</mi><mo>+</mo><msqrt>
                               <mrow>
                                <mfenced>
                                 <mrow>
                                  <msubsup>
                                   <mi>V</mi>
                                   <mn>0</mn>
                                   <mn>2</mn>
                                  </msubsup>
                                  <msup>
                                   <mrow>
                                    <mi>sin</mi></mrow>
                                   <mn>2</mn>
                                  </msup>
                                  <mi>&#x03B1;</mi><mo>+</mo><mn>2</mn><mi>g</mi><mi>H</mi></mrow>
                                </mfenced></mrow>
                              </msqrt>
                              </mrow>
                             <mi>g</mi>
                            </mfrac>
                            
                           </math>
                           
                           
                    </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">

                        </div>
                        
                                                

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">

                        </div>

                                                

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">

                        </div>

                                                

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">

                        </div>

                                                

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">

                        </div>

    

                </div>  
            </div>
        </div>
</section>





<!--******************************************************** სტილების კორექტირებები *******************************************************-->
<!--******************************************************** სტილების კორექტირებები *******************************************************-->
<!--******************************************************** სტილების კორექტირებები *******************************************************-->




            <style>

            a:nth-child(5) {
                width: 90px;
            }       


            nav .start-contact, a:nth-child(5):hover~.animation {
                width: 90px;
                left: 445px;
                background-color: #e67e22;
            }

            .input3 {
                background-color: #303245;
                margin: 10px; 
                border-radius: 10px;
                border: 0;
                box-sizing: border-box;
                color: #eee;
                font-size: 18px;
                height: 50px;
                outline: 0;
                padding: 4px 20px 0;
                width: 210px;
                
            }


            .holder3{
            position: absolute;
            background-color: var(--background_color);
            border-radius: 40px;
            text-align: center;
            font-size: 16px;
            width: 170px;
            height: 25px;
            color: rgb(206, 193, 193);
            font-weight: bold;
            margin-left: 30px;
            bottom: 50px; 
            }


            .input1 {
                background-color: #303245;
                margin: 10px; 
                border-radius: 10px;
                border: 0;
                box-sizing: border-box;
                color: #eee;
                font-size: 18px;
                height: 50px;
                outline: 0;
                padding: 4px 20px 0;
                width: 140px;
                
            }


            .holder1{
            position: absolute;
            background-color: var(--background_color);
            border-radius: 40px;
            text-align: center;
            font-size: 16px;
            width: 100px;
            height: 25px;
            color: rgb(206, 193, 193);
            font-weight: bold;
            margin-left: 30px;
            bottom: 50px; 
            }
            </style>




{% endblock %}
