<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/first_page.css') }}">

    <title>Discite Physicam</title>
    <link rel="icon" href="/static/images/first_page_ico/icon.png">

</head>
<body>
  
  
  <section> 
    <div class="name"> <div><h1 class="header"> <a class="a_header" href="https://www.facebook.com/DiscitePhysicam" target="blank">Discite Physicam</a></h1></div> 
        <div class="txt"> <div class="anotation"> Discite physicam ლათინურიდან ითარგმნება, როგორც “ვისწავლოთ ფიზიკა”.
           იგი წარმოადგენს დამხმარე საშუალებას ფიზიკით დაინტერესებული ნებისმიერი პირისთვის. საიტზე არსებულ 
           კალკულატორში  ნაცნობი ფიზიკური სიდიდის რიცხვითი მონაცემების შეყვანის შემდეგ დაიწყება იმ ფიზიკური 
           სიდიდის მნიშვნელობის გამოთვლა, რომელიც თქვენთვის საძიებელ უცნობს წარმოადგენს. მიღებული პასუხი კი 
           მომენტალურად აისახება ეკრანზე. პასუხის ქვემოთ მოცემულია ამოცანის შესაბამისი განმარტებითი ნახაზი და კონსპექტი,
            რომელშიც ახსნილია ამ კონკრეტული ამოცანის ამოხსნის გზები.<br>
            გარდა კალკულატორისა საიტზე არის კიდევ 2 ბლოკი:<br>
            1) conveter-ი ანუ გადამყვანი, რომლის დახმარებითაც შესაძლებელია ფიზიკური ერთეულების განზომილებების შეცვლა.<br>
            2) ცხრილები, სადაც მოცემულია სხვადასხვა სახის ინფორმაცია კონკრეტულ ნივთიერებებზე.</div>
        <!-- <img class="first_img" src="static/images/124.png" alt="">  -->   
        </div>
    </div>
    

</section>





    <section>
        <div class="second_sec">
            <div class="second_img">
               <img src="/static/images/first_page_ico/123.png"> 


            </div>
         

            <div class="txt2">
            <div class="anotation_2"> 
              კითხვების დასმა და მათზე პასუხების ძიება ფიზიკის განუყოფელი ნაწილია.
               ყველაფერი,რაც ჩვენს გარშემო არსებობს, ყველა პროცესი თუ მოვლენა, 
               რომელიც ბუნებაში მიმდინარეობს მჭიდროდაა დაკავშირებული ფიზიკასთან.
                ფიზიკა არ გულისხმობს მხოლოდ ამოცანების ამოხსნას თუ ფორმულების სწორად დამახსოვრებას.
                მისი მთავარი დანიშნულება აზროვნების უნარის ჩამოყალიბებაა. ადამიანის ფიზიკით დაინტერესება მაშინ იწყება,
                 როდესაც ის თითქოს ჩვეულებრივ მოვლენებში იწყებს ისეთი დეტალების შემჩნევას და კვლევას,
                  რომელიც აბსოლუტური უმრავლესობისთვის არაფრით გამორჩეულ ყოველდღიურობას წარმოადგენს.
                   ადამიანები მუდმივად ხედავდნენ თუ როგორ ვარდებიდნენ სხეულები დედამიწაზე,
                    მაგრამ ისააკ ნიუტონი აღმოჩნდა ერთადერთი, რომელმაც დასვა კითხვა-რატომ?
                     ამ კითხვაზე პასუხის ძიებამ კი იგი მსოფლიო მიზიდულობის კანონის აღმოჩენამდე მიიყვანა. 
                     მოკლედ, ფიზიკა სამყაროს შეცნობისკენ მიმავალი გრძელი გზაა და ვიმედოვნებთ,
                      რომ ამ გზის დასაწყისში მყოფი ადამიანისთვის ჩვენი საიტი კარგი დამხმარე საშუალება იქნება. 
              
            
                </div> 
            </div>
        </div>

    </section>





<section class="space"></section>





    <section class="section" >
        <script src="https://kit.fontawesome.com/95a02bd20d.js"></script>

        <div class="container">
           <div class="card">
             <div class="face face1">
               <div class="content">
                  <img class="fab1" src="static/images/first_page_ico/calculator2.png" alt="">   
                 <h3>calculate</h3>
               </div>
             </div>
             <div class="face face2">
               <div class="content">
                 <p> მოცემული კალკულატორი უმოკლეს დროში ითვლის საძიებელ სიდიდეებს. ხსნის გამოთვლის გზებს კოსპექტისა და განმარტებითი ნახაზის საშუალებით.</p>
                 <a href="/calculator" type="button">start  </a>
               </div>
             </div>
          </div>
          
          <div class="card">
             <div class="face face1">
               <div class="content">
                <img class="fab1" src="static/images/first_page_ico/convertion.png" alt="">               <h3>converter</h3>
               </div>
             </div>
             <div class="face face2">
               <div class="content">
                 <p> კონვენტერის დახმარებით შესაძლებელია მოცემული ფიზიკური ერთეულების განზომილებების შეცვლა.</p>
                 <a href="/" type="button">start</a>
               </div>
             </div>
          </div>
          
          
          <div class="card">
             <div class="face face1">
               <div class="content">
                <img class="fab1" src="static/images/first_page_ico/excel.png" alt=""> 
                  <h3>Tables</h3>
               </div>
             </div>
             <div class="face face2">
               <div class="content">
                 <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ab repudiandae, explicabo voluptate et hic cum ratione a. Officia delectus illum perferendis maiores quia molestias vitae fugiat aspernatur alias corporis?</p>
                 <a href="/" type="button">start</a>
               </div>
             </div>
          </div>
          
          
          
        </div>

    </section>






    <section class="space2"></section>






    <section class="timline_full_web">

      <div class="sciense_cards"> 

        <!-- 1 card -->
        <div class="card_card">
          <div class="content_card">
            <div class="front_card">

              <div class="front_img"> <img class="front_img_pos" src="/static/images/first_page_ico/nasa.png" alt=""></div>
              <div class="front_txt"> 
                <p class="front_txt_1"> "National Aeronautics and Space Administration" დაარსდა 1958 წელს.
                    </p>  </div>
            </div>
            <div class="back_card">
              <div class="back_txt">
                <p class="back_txt_1"> ავიაციისა და კოსმოსური სივრცის კვლევის ეროვნული სამმართველო აშშ-ში
                    დაარსდა 1958 წელს. იგი დღესაც ინარჩუნებს პირველ ადგილს მსოფლიოში კოსმოსის კვლევისა
                    და ათვისების მიმართულებით. დაარსების დღიდან აშშ-ს კოსმოსური კვლევების უმეტესობას სწორედ NASA 
                    ხელმძღვანელობს. მისი დახმარებით განხორციელდა ისეთი მისიები, როგორებიც იყო: <br> 1) აპოლოს მთვარეზე 
                     დაშვების მისია. <br><br>2) შეერთებული შტატების პირველი კოსმოსური სადგურის 
                     „Skylab”-ის შექმნა. <br><br> 3) ჰაბლის ტელესკოპის ღია კოსმოში გაშვება 1990 წელს  </p> </div>
            </div>
          </div>
        </div>

        <!-- 2 card -->
        <div class="card_card">
          <div class="content_card">
            <div class="front_card">
              <div class="front_img"> <img class="front_img_pos" src="/static/images/first_page_ico/cern.png" alt=""></div>
              <div class="front_txt">
                <p class="front_txt_1">"European Council for Nuclear Research" დაარსდა 1954 წელს </p> </div>
            </div>
            <div class="back_card">
              <div class="back_txt">
                <p class="back_txt_1"> ბირთვული კვლევების ევროპული ორგანიზაცია
                   „Conseil européen pour la recherche nucléaire“ წარმოადგენს
                    მსოფლიოს უდიდეს ლაბორატორიას ელემენტარულ ნაწილაკთა
                     კვლევის მიმართულებით. იგი მდებარეობს ქალაქ ჟენევის 
                     დასავლეთით, <br> შვეიცარია-საფრანგეთის საზღვარზე. 
                     მისი მთავარი ფუნქციაა სხვადასხვა ელემენტარული ნაწილაკების კვლევა. 
                     “CERN”-ში ყოველწლიურად რამდენიმე ათეული ქართველი მეცნიერი
                      მუშაობს სხვადასხვა კველვების მიმართულებით. </p> </div>
            </div>
          </div>
        </div>

  <!-- 3 card -->

        <div class="card_card">
          <div class="content_card">
            <div class="front_card">
              <div class="front_img"> <img class="front_img_pos" src="/static/images/first_page_ico/iss.png" alt=""></div>
              <div class="front_txt">
                <p class="front_txt_1">"Max Planck Society" დაარსდა 1911 წელს </p> </div>
            </div>
            <div class="back_card">
              <div class="back_txt">
                <p class="back_txt_1">„Kaiser Wilhelm Society“ დაარსდა 1911 წელს, ხოლო 1948 წელს მას "Max Planck Society" ეწოდა. 
                  მოცემული საზოგადოება 2019 წლის მონაცემებით აერთიანებს 86 კვლევით ინსტიტუტს, სხვადასხვა მიმართულებით. 
                  ხოლო „Max Planck Institute for Physics“-ის ერთ-ერთი დირექტორი, ქარელი ფიზიკოსი, გია დვალია. <br>
                  მაქს პლანკის საზოგადოება აერთიანებ 35 ნობელის ლაურიატს სხვადასხვა დარგებიდან.
                  
                    </p> </div>
            </div>
          </div>
        </div>

</div>

      

      <div class="timeline_web">
        <ul class="timeline">

          <!-- Item 1 -->
          <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="flag">Nicolaus Copernicus</span>
                
              </div>
              <div class="desc">კოპერნიკმა საფუძველი ჩაუყარა ჰელიოცეენტრულ სისტემას. მან დაამტკიცა, 
                რომ პლანეტები მოძრაობენ არა დედამიწის, არამედ მზის გარშემო.</div>
            </div>
          </li>
          
          <!-- Item 2 -->
          <li>
            <div class="direction-l">
              <div class="flag-wrapper">
                <span class="flag">Isaac Newton</span>
            
              </div>
              <div class="desc">ნიუტონმა დიდი წვლილი შეიტანა დიფერენციალური აღრიცხვის განვითარებაში, 
                და შექმნა ფიზიკის ახალი დარგი რომელსაც "კლასიკურ მექანიკას" ვუწოდებთ.
              </div>
            </div>
          </li>
        
          <!-- Item 3 -->
          <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="flag">Michael Faraday</span>
                
              </div>
              <div class="desc">ფარადეიმ განავითარა ელექტრომაგნიტიზმისა და ელექტროქიმიის დარგები. <br> აღმოაჩინა ელექტომაგნიტური ინდუქცია
                 და დიამაგნეტიზმი </div>
            </div>
          </li>
          
          <!-- Item 4 -->

          <li>
            <div class="direction-l">
              <div class="flag-wrapper">
                <span class="flag">James Clerk Maxwell</span>
                
              </div>
              <div class="desc">მაქსველმა აჩვენა, რომ
                ელექტროობა, მაგნიტიზმი და ოპტიკა ემორჩილებიან ერთ ფენომენს, რომელსაც ელექტრომაგენიტური ველი უწოდა.
              </div>
            </div>
          </li>


          <!-- Item 5 -->
         
          <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="flag">Nikola Tesla</span>
                
              </div>
              <div class="desc">ცნობილი ფიზიკოსი, ინჟინერი და გამომგონებელი, რომელმაც უდიდესი წვლილი
                 შეიტანა ელექტოობისა და მაგნეტიმის დარგების განვითარებაში. მას ეკუთვნის 300-მდე პატენტი. </div>
            </div>
          </li>

          <!-- Item 6 -->

          <li>
            <div class="direction-l">
              <div class="flag-wrapper">
                <span class="flag">Max Planck</span>
                
              </div>
              <div class="desc"> პლანკმა საფუძველი ჩაუყარა "კვანტურ თეორიას". ის არის ნობელის პრემიის ლაურიატი ფიზინის დარგში.
              </div>
            </div>
          </li>


          <!-- Item 7 -->
         
          <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="flag">Marie Curie</span>
                
              </div>
              <div class="desc">კიურიმ აღმოაჩინა ახალი ქიმიური ელემენტები: პოლონიუმი და რადიოუმი. <br> იკვლევდა რადიოაქტიურობას.
                მას ორჯერ მიენიჭა ნობელის პრემია ფიზიკისა და ქიმისს დარგებში. </div>
            </div>
          </li>


          <!-- Item 8 -->

          <li>
            <div class="direction-l">
              <div class="flag-wrapper">
                <span class="flag">Albert Einstein</span>
                
              </div>
              <div class="desc">აინშტაინი არის "ფარდობითობის თეორიის" ფუძემდებელი. მას მიენიჭა ნობელის პრემია ფიზიკის დარგში, 
                "ფოტოელექტრონული" ეფექტის აღმოჩენისთვის.
              </div>
            </div>
          </li>

        </ul>
      </div>





    </section>


   

    


    <section class="footer"> 
      
      <div class="footer_header"> <a class="social" href="https://www.facebook.com/DiscitePhysicam" target="blanck">Discite Physicam</a></div>
        <div class="seertificat">© All right Reversed 2021.</div> 
     
    
    </section>


</body>
</html>