{% extends 'base_calc.html' %}



{% block content%}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/calculator.css') }}">



<!--************************************************************* ნავიგაციის სექცია******************************************************* -->

<section class="navigation">
    <nav> 
        <a href="/"> მთავარი </a>
        <a href="/calculator"> დარგები </a>
        <a href="/calculator/mechanic"> მექანიკა </a>
        <a href="/calculator/mechanic/kinematika"> კინემატიკა </a>
        <a href="/calculator/mechanic/kinematika/asrolili"> ასროლილი სხეული </a>

 
        <div class="animation start-home"></div>
    </nav>
</section>


<!--************************************************************* სათაურის სექცია******************************************************* -->
<section class="main_header_secttion"> <div class="main_header">სხეულის გადაადგილება</div></section>




<!--******************************************************* ინფორმაციისს ტრასფერის სექცია************************************************* -->
<section class="input_variables_section">

    <form name="passdata" action="." method="POST">

    <div class="input_variables">

        <div class="variable_1">
            <input type="number" class="input"  placeholder=" " step="0.001" min=0 value="0" name="initaial_height">
              
                <div class="holder">
                    <label for="firstname" class="placeholder_of_inputs" >საწყ.სიმაღლე</label>
                </div>
        </div>

        <div class="variable_2">
            <input type="number" class="input"  placeholder=" " step="0.001" min=0 value="9.8" name="gravity">
            
                <div class="holder">
                     <label for="firstname" class="placeholder_of_inputs" >გრავიტაცია</label>
                </div>
        </div>

        <div class="variable_3">
            <input type="number" class="input"  placeholder=" " step="0.001" min=0 value="0" name="initaial_velocity">
               
            <div class="holder">
                
                <label for="firstname" class="placeholder_of_inputs" >საწყ.სიჩქარე</label>
            
            </div>
        </div>



        <!-- გამზადებულია გამოსაყენებლად -->
        <div class="variable_4">
            <input type="number" class="input3"  placeholder=" " step="0.001" min=0 value="0" name="time">
               
            <div class="holder3">
                
                <label for="firstname" class="placeholder_of_inputs" >გადაადგილების დრო</label>
            
            </div>
        </div>
       


        <!-- გამზადებულია გამოსაყენებლად -->
        <div class="variable_5">

        </div>






        <!-- გამშვები ბათონი -->
        <div class="submut_button">
            <button type="submit" class="submit">გამოთვლა</button>
        </div>

    </div>


    </form>
</section>




<!--******************************************************* პასუხების სექცია************************************************* -->
<section class="answers_section">
    <form name="passdata" action="." method="POST">

  
             <div class="answers">პასუხი: <div class="answer_number">{{displacement}} {{Dimension}} </div> </div>

    </form>
</section>





<!--******************************************************* ფოტოს ************************************************* -->

<section class="drawing">
    <div>


        <div class="union">  
            <div class="main_header">დეტალურად</div>
        </div>




<!--********************************************** გამოიყენება მაშინ როცა სურათი არის მარცხენა მხარეს  **************************************-->
<!--********************************************** გამოიყენება მაშინ როცა სურათი არის მარცხენა მხარეს  **************************************-->
<!--********************************************** გამოიყენება მაშინ როცა სურათი არის მარცხენა მხარეს  **************************************-->

        <div class="div_photo_txt_left">

            
<!---------------------------------------------------- მოკლე ტექსტები და ფოტო---------------------------------------------------- -->
<!---------------------------------------------------- მოკლე ტექსტები და ფოტო---------------------------------------------------- -->
<!---------------------------------------------------- მოკლე ტექსტები და ფოტო---------------------------------------------------- -->

                    <div class="main_detail_left_short">

                        <img class="photo_left" src="/static/images/mechanic/kinematika/fallen/free_fall.jpg" alt="">

                            
                        

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            სხეულის გადაადგილების საპოვნელად უნდა გამოვიყენოთ თანაბარაჩქარებული მოძრაობის  დროს მანძილის გამოსათვლელი ფორმულა:
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">
                            <math display='block'>
                                <mi>S</mi><mo>=</mo><msub>
                                 <mi>V</mi>
                                 <mn>0</mn>
                                </msub>
                                <mi>t</mi><mo>&#x00B1;</mo><mfrac>
                                 <mrow>
                                  <mi>g</mi><msup>
                                   <mi>t</mi>
                                   <mn>2</mn>
                                  </msup>
                                  </mrow>
                                 <mn>2</mn>
                                </mfrac>
                                <mo>&#x2192;</mo><mfenced class="SKT">
                                 <mn>1</mn>
                                </mfenced>
                               </math>
                               
                        </div>
                        
                        

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            თუ გადაადგილების დრო-T ნაკლებია ან ტოლია BC მონაკვეთის გავლისათვის საჭირო დროზე (
                                <math>
                                    <mi>T</mi><mo>&#x2264;</mo><msub>
                                     <mi>T</mi>
                                     <mrow>
                                      <mi>b</mi><mi>c</mi></mrow>
                                    </msub>
                                    
                                   </math>
                                   
                            )
                            მაშინ გასროლის წერტილიდან სხეულის გადაადგილება იქნება:
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">
                            <math display='block' class="answer_color">
                                <msub>
                                 <mi>Y</mi>
                                 <mrow>
                                  <mi>b</mi><mi>c</mi></mrow>
                                </msub>
                                <mo>=</mo><msub>
                                 <mi>V</mi>
                                 <mn>0</mn>
                                </msub>
                                <mi>T</mi><mo>&#x2212;</mo><mfrac>
                                 <mrow>
                                  <mi>g</mi><msup>
                                   <mi>T</mi>
                                   <mn>2</mn>
                                  </msup>
                                  </mrow>
                                 <mn>2</mn>
                                </mfrac>
                                
                               </math>
                               
                        </div>
                        
                                                

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                           დედამიწიდან კი ამ სხეულის გადაადგილება იქნება:
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">
                            <math display='block' class="answer_color">
                                <msub>
                                 <mi>Y</mi>
                                 <mrow>
                                  <mi>b</mi><mi>c</mi></mrow>
                                </msub>
                                <mo>=</mo><msub>
                                 <mi>V</mi>
                                 <mn>0</mn>
                                </msub>
                                <mi>T</mi><mo>&#x2212;</mo><mfrac>
                                 <mrow>
                                  <mi>g</mi><msup>
                                   <mi>T</mi>
                                   <mn>2</mn>
                                  </msup>
                                  </mrow>
                                 <mn>2</mn>
                                </mfrac>
                                <mo>+</mo><mi>H</mi>
                               </math>
                               
                        </div>

                                                

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            ხოლო თუ გადაადგილების დრო-T მეტია BC მონაკვეთის გავლისათვის საჭირო დროზე (
                                <math>
                                    <mi>T</mi><mo>&#x003E;</mo><msub>
                                     <mi>T</mi>
                                     <mrow>
                                      <mi>b</mi><mi>c</mi></mrow>
                                    </msub>
                                    
                                   </math>
                                   
                            ) გასროლის წერტილიდან გადაადგილების გამოსათვლელად BC სიგრძეს (ანუ S-ს) უნდა გამოვაკლოთ 
                            CD მონაკვეთის სიგრძე:
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">
                            <math display='block'>
                                <msub>
                                 <mi>Y</mi>
                                 <mrow>
                                  <mi>a</mi><mi>c</mi></mrow>
                                </msub>
                                <mo>=</mo><mi>S</mi><mo>&#x2212;</mo><mi>C</mi><mi>D</mi><mo>&#x2192;</mo><mfenced class="SKT">
                                 <mn>2</mn>
                                </mfenced>
                               </math>
                               
                        </div>

                                                

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">

                        </div>

                                                

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">

                        </div>


                    </div>       
                    
    
<!-------------------------------------------------------- გრძელი ტექსტები ------------------------------------------------------- -->
<!-------------------------------------------------------- გრძელი ტექსტები ------------------------------------------------------- -->
<!-------------------------------------------------------- გრძელი ტექსტები ------------------------------------------------------- -->

                   <div class="main_detail_left_long">



                           <!-- ტექსტი -->
                           <div class="detail_txt">
                            დედამიწიდან გადაადგილება კი იქნება:
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">
                            <math display='block'>
                                <msub>
                                 <mi>Y</mi>
                                 <mrow>
                                  <mi>a</mi><mi>c</mi></mrow>
                                </msub>
                                <mo>=</mo><mi>H</mi><mo>+</mo><mi>S</mi><mo>&#x2212;</mo><mi>C</mi><mi>D</mi><mo>&#x2192;</mo><mfenced class="SKT">
                                 <mn>3</mn>
                                </mfenced>
                               </math>
                               
                        </div>
                        
                        

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            CD მონაკვეთს სხეული გაივლის <math>
                                <msup>
                                 <mi>T</mi>
                                 <mo>&#x2032;</mo>
                                </msup>
                                
                               </math>
                               დროში (<math>
                                <msup>
                                 <mi>T</mi>
                                 <mo>&#x2032;</mo>
                                </msup>
                                
                               </math> წარმოადგენს დროს, რომელიც მიიღება გადაადგილების დროისა და BC მონაკვეთის გავლისათვის 
                               საჭირო დროის სხვაობით: <math>
                                <msup>
                                 <mi>T</mi>
                                 <mo>&#x2032;</mo>
                                </msup>
                                <mo>=</mo><mi>T</mi><mo>&#x2212;</mo><msub>
                                 <mi>T</mi>
                                 <mrow>
                                  <mi>b</mi><mi>c</mi></mrow>
                                </msub>
                                
                               </math>
                               
                               )
                               .
                               CD მონაკვეთის სიგრძის საპოვნელად გამოვიყენოთ თანაბარაჩქარებული მოძრაობის დროს მანძილის გამოსათვლელი
                               ფორმულა, იმის გათვალისწინებით, რომ C წერტილში სხეულის სიჩქარე ნოლის ტოლია გვექნება:
                               
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">
                            <math display='block'>
                                <mi>C</mi><mi>D</mi><mo>=</mo><mfrac>
                                 <mrow>
                                  <mi>g</mi><msup>
                                   <msup>
                                    <mi>T</mi>
                                    <mo>&#x2032;</mo>
                                   </msup>
                                   
                                   <mn>2</mn>
                                  </msup>
                                  </mrow>
                                 <mn>2</mn>
                                </mfrac>
                                <mo>=</mo><mfrac>
                                 <mrow>
                                  <mi>g</mi><msup>
                                   <mrow>
                                    <mfenced>
                                     <mrow>
                                      <mi>T</mi><mo>&#x2212;</mo><msub>
                                       <mi>T</mi>
                                       <mrow>
                                        <mi>b</mi><mi>c</mi></mrow>
                                      </msub>
                                      </mrow>
                                    </mfenced></mrow>
                                   <mn>2</mn>
                                  </msup>
                                  </mrow>
                                 <mn>2</mn>
                                </mfrac>
                                <mo>&#x2192;</mo><mfenced class="SKT">
                                 <mn>4</mn>
                                </mfenced>
                               </math>
                               
                        </div>

                         <!-- ტექსტი -->
                         <div class="detail_txt">
                        აუცილებელია ვიპოვოთ ის დროც, რომელიც სხეულს
                        დაჭირდა  BC მონაკვეთის გასავლელად, ანუ გასროლის წერტილიდან მაქსიმალურ სიმაღლემდე ასასვლელად, გავიხსენოთ
                        თანაბარაჩქარებული მოძრაობის დროს მყისი სიჩქარის გამოსათვლელი ფორმულა, ამ ფორმულიდან
                        კი მარტივად შეგვიძლია ვიპოვოთ BC მონაკვეთის გავლისათვის საჭირო დრო:
                           :

                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">
                            <math display='block'>
                                <msub>
                                 <mi>V</mi>
                                 <mi>c</mi>
                                </msub>
                                <mo>=</mo><msub>
                                 <mi>V</mi>
                                 <mn>0</mn>
                                </msub>
                                <mo>&#x2212;</mo><mi>g</mi><msub>
                                 <mi>T</mi>
                                 <mrow>
                                  <mi>b</mi><mi>c</mi></mrow>
                                </msub>
                                <mo>&#x2192;</mo><mfenced class="SKT">
                                 <mn>5</mn>
                                </mfenced>
                               </math>
                               

                               <math display='block'>
                                <msub>
                                 <mi>V</mi>
                                 <mi>c</mi>
                                </msub>
                                <mo>=</mo><mn>0</mn>
                               </math>

                               
                               <math display='block'>
                                <mi>g</mi><msub>
                                 <mi>T</mi>
                                 <mrow>
                                  <mi>b</mi><mi>c</mi></mrow>
                                </msub>
                                <mo>=</mo><msub>
                                 <mi>V</mi>
                                 <mn>0</mn>
                                </msub>
                                
                               </math>

                               <math display='block'>
                                <msub>
                                 <mi>T</mi>
                                 <mrow>
                                  <mi>b</mi><mi>c</mi></mrow>
                                </msub>
                                <mo>=</mo><mfrac>
                                 <mrow>
                                  <msub>
                                   <mi>V</mi>
                                   <mn>0</mn>
                                  </msub>
                                  </mrow>
                                 <mi>g</mi>
                                </mfrac>
                                <mo>&#x2192;</mo><mfenced class="SKT">
                                 <mn>6</mn>
                                </mfenced>
                               </math>
                               
                               
                               
                        </div>
                        
                        
                                                

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            BC მონაკვეთის გასავლელად საჭირო დროის შეტანით მე-(4)-ე ფორმულაში მივიღებთ:
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">
                            <math display='block'>
                                <mi>C</mi><mi>D</mi><mo>=</mo><mfrac>
                                 <mrow>
                                  <mi>g</mi><msup>
                                   <mrow>
                                    <mfenced>
                                     <mrow>
                                      <mi>T</mi><mo>&#x2212;</mo><mfrac>
                                       <mrow>
                                        <msub>
                                         <mi>V</mi>
                                         <mn>0</mn>
                                        </msub>
                                        </mrow>
                                       <mi>g</mi>
                                      </mfrac>
                                      </mrow>
                                    </mfenced></mrow>
                                   <mn>2</mn>
                                  </msup>
                                  </mrow>
                                 <mn>2</mn>
                                </mfrac>
                                <mo>&#x2192;</mo><mfenced class="SKT"> 
                                 <mn>7</mn>
                                </mfenced>
                               </math>
                               
                        </div>

                        <!-- ტექსტი -->
                        <div class="detail_txt">
                            იმისათვის, რომ ვიპოვოთ სხეულის ასვლის მაქსიმალური სიმაღლე გასროლის წერტილიდან,რომელიც ამ შემთხვევაში აღნიშნულია S სიმბოლოთი,
                             უნდა გამოვიყენოთ თანაბარაჩქრებული მოძრაობის დროს მანძილის გამოსათვლელი ფორმულა:
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">
                            <math display='block'>
                                <mi>S</mi><mo>=</mo><mfrac>
                                 <mrow>
                                  <msubsup>
                                   <mi>V</mi>
                                   <mn>0</mn>
                                   <mn>2</mn>
                                  </msubsup>
                                  <mo>&#x2212;</mo><msub>
                                   <mi>V</mi>
                                   <mi>c</mi>
                                  </msub>
                                  <msup>
                                   <mrow></mrow>
                                   <mn>2</mn>
                                  </msup>
                                  </mrow>
                                 <mrow>
                                  <mn>2</mn><mi>g</mi></mrow>
                                </mfrac>
                                
                               </math>

                               
                        </div>
                        
                        

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                           C წერტილში სხეულის სიჩქარე ტოლია 0-ის, ამიტომ მაქსიმალურ სიმაღლეზე ასვლის ფორმულა
                            მიიღებს შემდეგ სახეს:
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">
                            <math display='block'>
                                <mi>S</mi><mo>=</mo><mfrac>
                                 <mrow>
                                  <msubsup>
                                   <mi>V</mi>
                                   <mn>0</mn>
                                   <mn>2</mn>
                                  </msubsup>
                                  </mrow>
                                 <mrow>
                                  <mn>2</mn><mi>g</mi></mrow>
                                </mfrac>
                                <mo>&#x2192;</mo><mfenced class="SKT">
                                 <mn>8</mn>
                                </mfenced>
                               </math>
                               
                        </div>
                        

                                                

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            საბოლოოდ, S-ის და CD-ს მნიშვნელობების შეტანით მე-(2)-ე ფორმულაში მივიღებთ გასროლის 
                            წერტილიდან გადაადგილების ფორმულას:
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">
                            <math display='block'>
                                <msub>
                                 <mi>Y</mi>
                                 <mrow>
                                  <mi>a</mi><mi>c</mi></mrow>
                                </msub>
                                <mo>=</mo><mfrac>
                                 <mrow>
                                  <msubsup>
                                   <mi>V</mi>
                                   <mn>0</mn>
                                   <mn>2</mn>
                                  </msubsup>
                                  </mrow>
                                 <mrow>
                                  <mn>2</mn><mi>g</mi></mrow>
                                </mfrac>
                                <mo>&#x2212;</mo><mfrac>
                                 <mrow>
                                  <mi>g</mi><msup>
                                   <msup>
                                    <mi>T</mi>
                                    <mo>&#x2032;</mo>
                                   </msup>
                                   
                                   <mn>2</mn>
                                  </msup>
                                  </mrow>
                                 <mn>2</mn>
                                </mfrac>
                                
                               </math>


                               
                               <math display='block' class="answer_color">
                                <msub>
                                 <mi>Y</mi>
                                 <mrow>
                                  <mi>a</mi><mi>c</mi></mrow>
                                </msub>
                                <mo>=</mo><mfrac>
                                 <mrow>
                                  <msubsup>
                                   <mi>V</mi>
                                   <mn>0</mn>
                                   <mn>2</mn>
                                  </msubsup>
                                  </mrow>
                                 <mrow>
                                  <mn>2</mn><mi>g</mi></mrow>
                                </mfrac>
                                <mo>&#x2212;</mo><mfrac>
                                 <mrow>
                                  <mi>g</mi><msup>
                                   <mrow>
                                    <mfenced>
                                     <mrow>
                                      <mi>T</mi><mo>&#x2212;</mo><mfrac>
                                       <mrow>
                                        <msub>
                                         <mi>V</mi>
                                         <mn>0</mn>
                                        </msub>
                                        </mrow>
                                       <mi>g</mi>
                                      </mfrac>
                                      </mrow>
                                    </mfenced></mrow>
                                   <mn>2</mn>
                                  </msup>
                                  </mrow>
                                 <mn>2</mn>
                                </mfrac>
                                
                               </math>
                               
                        </div>

                                                

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            ხოლო მე-(3)-ე ფორმულაში იგივე მნიშვნელობების შეტანით მივიღებთ დედამიწის მიმართ 
                            სხეულის გადაადგილების გამოსათვლელ ფორმულას:
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">
                            <math display='block'>
                                <msub>
                                 <mi>Y</mi>
                                 <mrow>
                                  <mi>a</mi><mi>c</mi></mrow>
                                </msub>
                                <mo>=</mo><mi>H</mi><mo>+</mo><mfrac>
                                 <mrow>
                                  <msubsup>
                                   <mi>V</mi>
                                   <mn>0</mn>
                                   <mn>2</mn>
                                  </msubsup>
                                  </mrow>
                                 <mrow>
                                  <mn>2</mn><mi>g</mi></mrow>
                                </mfrac>
                                <mo>&#x2212;</mo><mfrac>
                                 <mrow>
                                  <mi>g</mi><msup>
                                   <msup>
                                    <mi>T</mi>
                                    <mo>&#x2032;</mo>
                                   </msup>
                                   
                                   <mn>2</mn>
                                  </msup>
                                  </mrow>
                                 <mn>2</mn>
                                </mfrac>
                                
                               </math>

                               
                               <math display='block' class="answer_color">
                                <msub>
                                 <mi>Y</mi>
                                 <mrow>
                                  <mi>a</mi><mi>c</mi></mrow>
                                </msub>
                                <mo>=</mo><mi>H</mi><mo>+</mo><mfrac>
                                 <mrow>
                                  <msubsup>
                                   <mi>V</mi>
                                   <mn>0</mn>
                                   <mn>2</mn>
                                  </msubsup>
                                  </mrow>
                                 <mrow>
                                  <mn>2</mn><mi>g</mi></mrow>
                                </mfrac>
                                <mo>&#x2212;</mo><mfrac>
                                 <mrow>
                                  <mi>g</mi><msup>
                                   <mrow>
                                    <mfenced>
                                     <mrow>
                                      <mi>T</mi><mo>&#x2212;</mo><mfrac>
                                       <mrow>
                                        <msub>
                                         <mi>V</mi>
                                         <mn>0</mn>
                                        </msub>
                                        </mrow>
                                       <mi>g</mi>
                                      </mfrac>
                                      </mrow>
                                    </mfenced></mrow>
                                   <mn>2</mn>
                                  </msup>
                                  </mrow>
                                 <mn>2</mn>
                                </mfrac>
                                
                               </math>
                               
                        </div>

                                                

                            <!-- ტექსტი -->
                        <div class="detail_txt">
                            
                        </div>



                            <!-- ფორმულა -->
                        <div class="detail_formula">

                        </div>

    

                </div>  
            </div>



 










<!--********************************************** გამოიყენება მაშინ როცა სურათი არის ზევით მხარეს  **************************************-->
<!--********************************************** გამოიყენება მაშინ როცა სურათი არის ზევით მხარეს  **************************************-->
<!--********************************************** გამოიყენება მაშინ როცა სურათი არის ზევით მხარეს  **************************************-->



    </div>
</section>









<!--******************************************************** სტილების კორექტირებები *******************************************************-->
<!--******************************************************** სტილების კორექტირებები *******************************************************-->
<!--******************************************************** სტილების კორექტირებები *******************************************************-->




            <style>

            a:nth-child(5) {
                width: 180px;
            }       


            nav .start-contact, a:nth-child(5):hover~.animation {
                width: 190px;
                left: 440px;
                background-color: #e67e22;
            }

            .input3 {
                background-color: #303245;
                margin: 10px; 
                border-radius: 10px;
                border: 0;
                box-sizing: border-box;
                color: #eee;
                font-size: 18px;
                height: 50px;
                outline: 0;
                padding: 4px 20px 0;
                width: 250px;
                
            }


            .holder3{
            position: absolute;
            background-color: var(--background_color);
            border-radius: 40px;
            text-align: center;
            font-size: 16px;
            width: 210px;
            height: 25px;
            color: rgb(206, 193, 193);
            font-weight: bold;
            margin-left: 30px;
            bottom: 50px; 
            }
            </style>




{% endblock %}
